<cc-fetched-content
  class="not-in-quickbuy"
  data-id="{{ block.id }}"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&intent=complementary"
  contains-product-blocks
  {{ block.shopify_attributes }}
>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    {%- liquid
      if settings.prod_thumb_shape == 'portrait-23'
        assign chosen_aspect_ratio = 0.67
      elsif settings.prod_thumb_shape == 'portrait-45'
        assign chosen_aspect_ratio = 0.8
      elsif settings.prod_thumb_shape == 'square'
        assign chosen_aspect_ratio = 1.0
      elsif settings.prod_thumb_shape == 'landscape-54'
        assign chosen_aspect_ratio = 1.25
      elsif settings.prod_thumb_shape == 'landscape-32'
        assign chosen_aspect_ratio = 1.50
      elsif settings.prod_thumb_shape == 'tallest'
        assign chosen_aspect_ratio = 99
        for product in recommendations.products limit: block.settings.max_products
          if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
            assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
          endif
        endfor
      else
        assign chosen_aspect_ratio = 0
        for product in recommendations.products limit: block.settings.max_products
          if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
            assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
          endif
        endfor
      endif
    -%}

    <div class="lightly-spaced-row lightish-spaced-row-above not-in-quickbuy">
      {% if block.settings.enable_carousel and recommendations.products_count > 2 and block.settings.max_products > 2 %}
        <carousel-slider class="carousel block collection-slider">
          <div class="opposing-items opposing-items--valign-base very-lightly-spaced-row">
            <div class="opposing-items__left label">{{ block.settings.heading | escape }}</div>
            <div class="no-wrap slider-nav">
              <button name="prev" class="slider-nav__btn has-ltr-icon text-current">
                <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
                {% render 'icon-chevron-left' %}
              </button>
              <button name="next" class="slider-nav__btn has-ltr-icon text-current">
                <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
                {% render 'icon-chevron-right' %}
              </button>
            </div>
          </div>
          <div class="collection-listing slider slider--no-scrollbar">
            <div class="product-grid product-grid--per-row-2 product-grid--per-row-mob-2 slider__grid product-grid--carousel">
              {% for related_product in recommendations.products limit: block.settings.max_products %}
                <div class="slider__item{% if forloop.first %} is-active{% endif %}">
                  {%- render 'product-block',
                    product: related_product,
                    no_quick_buy: true,
                    no_swiping: true,
                    custom_aspect_ratio: chosen_aspect_ratio,
                    grid: 5
                  -%}
                </div>
              {% endfor %}
            </div>
          </div>
        </carousel-slider>
      {% else %}
        <div class="very-lightly-spaced-row">
          <div class="label">{{ block.settings.heading | escape }}</div>
        </div>
        <div class="fixed-layout fixed-layout--no-wide-gutter">
          {%- liquid
            for related_product in recommendations.products limit: block.settings.max_products
              echo '<div class="column column--half">'
              render 'product-block', product: related_product, no_quick_buy: true, custom_aspect_ratio: chosen_aspect_ratio, grid: 5
              echo '</div>'
            endfor
          -%}
        </div>
      {% endif %}
    </div>
  {%- endif -%}
</cc-fetched-content>