<div
  class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}"
  {{ block.shopify_attributes }}
>
  {%- liquid
    assign hide_on_end = block.settings.hide_on_end | default: false
    assign now = 'now' | date: '%Y-%m-%dT%H:%M%z'
    if block.settings.end_date != blank
      if block.settings.end_time != blank
        assign end_date = block.settings.end_date | append: 'T' | append: block.settings.end_time
      endif
      assign end_date = end_date | date: '%Y-%m-%dT%H:%M%z'
    else
      assign now_split = now | split: 'T'
      assign end_date = now_split.first | append: 'T23:59%z' | date: '%Y-%m-%dT%H:%M%z'
    endif
  -%}
  {%- if end_date > now or hide_on_end == false -%}
    <script src="{{ 'countdown-timer.js' | asset_url }}" defer></script>
    <div
      class="product-info-block text-box text-box--wide align-center countdown-font-{{ block.settings.number_font }} countdown-divider-{{ block.settings.divider_type }}"
      style="--box-color: {{ block.settings.box_color }}; --box-text-color: {{ block.settings.text_color | color_to_rgb | split: '(' | last | split: ')' | first }}"
    >
      {%- if block.settings.heading != blank -%}
        <div class="very-lightly-spaced-row">{{ block.settings.heading }}</div>
      {%- endif -%}
      {% render 'countdown-timer',
        end_date: block.settings.end_date,
        end_time: block.settings.end_time,
        end_text: block.settings.end_text,
        end_midnight: true,
        hide_on_end: block.settings.hide_on_end,
        show_labels: block.settings.show_timer_labels
      %}
    </div>
  {%- endif -%}
</div>
