{%- liquid
  assign home_url = shop.url
  assign shop_name = shop.name
  assign shop_domain = shop.domain
  assign click_collect_path = '/pages/click-collect-at-your-local-dealer'
-%}

{%- case request.locale.iso_code -%}
  {% when 'de' %}
    <p>
      Wenn Sie ein Fahrrad bei
      <a href="{{ home_url }}" target="_blank" title="{{ shop_name }}">{{ shop_domain }}</a> bestellen, versenden wir es kostenlos
      an einen Händler Ihrer Wahl über unseren Click &amp; Collect-Service. Sobald Ihr Fahrrad angekommen ist, wird der
      Händler Sie kontaktieren, um einen Abholtermin zu vereinbaren. Genießen Sie mit diesem Service persönliche
      Unterstützung, Testfahrten und Expertenrat.
      <a
        href="{{ home_url }}{{ click_collect_path }}"
        target="_blank"
        title="Click & Collect bei Ihrem lokalen Händler"
        >Erfahren Sie mehr</a
      >
    </p>
  {% when 'fr' %}
    <p>
      Vous commandez un vélo sur
      <a href="{{ home_url }}" target="_blank" title="{{ shop_name }}">{{ shop_domain }}</a>, nous l'expédierons gratuitement à
      un revendeur de votre choix grâce à notre service Click &amp; Collect. Une fois votre vélo arrivé, le revendeur
      vous contactera pour organiser un rendez-vous pour le récupérer. Profitez de l'assistance personnalisée, des
      essais de conduite et des conseils d'experts avec ce service.
      <a
        href="{{ home_url }}{{ click_collect_path }}"
        target="_blank"
        title="Click & Collect chez votre revendeur local"
        >En savoir plus</a
      >
    </p>
  {% else %}
    <p>
      When you order a bike from <a href="{{ home_url }}" target="_blank" title="{{ shop_name }}">{{ shop_domain }}</a>, we'll ship it
      for free to a dealer of your choice through our Click &amp; Collect service. Once your bike arrives, the dealer
      will reach out to arrange a pickup time. Enjoy personalized assistance, test rides, and expert advice with this
      service.
      <a
        href="{{ home_url }}{{ click_collect_path }}"
        target="_blank"
        title="Click & Collect at your local dealer"
        >Learn more</a
      >
    </p>
{%- endcase -%}
