{% assign custom_metafields = product.metafields.custom %}

{% capture product_specs_json %}
  {
    {% for field in custom_metafields %}
      "{{ field | first }}": "{{ field | last | json | escape }}"
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
{% endcapture %}

<div class="product-compare-widget">
  <label class="compare-checkbox">
    <input type="checkbox" class="compare-checkbox-input" 
           data-product-handle="{{ product.handle }}" 
           data-product-title="{{ product.title | escape }}" 
           data-product-price="{{ product.price | money }}" 
           data-product-image="{{ product.featured_image | img_url: '200x' }}"
           data-product-specs="{{ product_specs_json | strip_newlines | escape }}">
    <span>Add to compare</span>
  </label>
</div>