<div class="column column--content align-{{ section.settings.content_alignment }}" data-cc-animate>
  {% if section.settings.content_bg_video != blank %}
    <video
      class="background-video"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="{{ section.settings.content_bg_video }}" type="video/mp4">
    </video>
  {% endif %}
  <div class="background-container">
    {% if section.settings.content_bg_image != blank %}
      {{
        section.settings.content_bg_image
        | image_url: width: 2000
        | image_tag: class: 'background-image', loading: 'lazy'
      }}
    {% endif %}
  </div>

  <div class="text-content-wrapper" style="position: relative;">
    {% for block in section.blocks %}
      <div class="block-{{ block.id }}" {{ block.shopify_attributes }}>
        {% case block.type %}
          {% when 'heading' %}
            {% include 'block-heading', block: block %}

          {% when 'text' %}
            {% include 'block-text', block: block %}

          {% when 'liquid_content' %}
            <div class="custom-liquid-block">
              {{ block.settings.liquid_content }}
            </div>

          {% when 'newsletter' %}
            {% include 'block-newsletter', block: block %}

          {% when 'button' %}
            {% include 'block-button', block: block %}

          {% when 'bike_tab' %}
            {% include 'block-bike-tab', block: block %}

          {%- when 'feature_column' -%}
            {% include 'block-feature-column', block: block %}

          {%- when 'slide_footer' -%}
            {% include 'block-slide-footer', block: block %}

          {% when 'countdown' %}
            {% include 'block-countdown', block: block %}

          {% when 'discount-label' %}
            {% include 'discount-label', block: block %}
        {% endcase %}
      </div>
    {% endfor %}
  </div>
</div>
