<div class="product-column">
    <a href="{{ product.url }}">
        {% if product.metafields.custom.featured_image %}
        <img src="{{ product.metafields.custom.featured_image | file_url }}" alt="{{ product.title }}">
        {% else %}
        <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
        {% endif %}
    </a>

    {% render 'custom-discount-info' with product: product %}

    {% render 'custom-description-box' with product: product %}
</div>