<media-gallery
  class="media-gallery media-gallery--layout-{{ section.settings.gallery_layout }} media-gallery-size-{{ section.settings.gallery_size }} product-column-left {% if product.media.size > 1 %}has-thumbnails{% endif %}"
  {%- if enable_media_grouping %}
    data-media-grouping-enabled
  {%- endif %}
  {%- if section.settings.enable_zoom %}
    data-zoom-enabled
    {%- if settings.preload_pdp_gallery_images %}
      data-zoom-preload
    {%- endif %}
  {%- endif %}
  {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.2s"' -%}
>
  <div class="media-gallery sticky-content-container {% if section.settings.enable_sticky_columns %}sticky-content-container{% endif %}">
    <div class="media-gallery__inner" style="display: flex; flex-direction: column; height: 100%;">
      <div class="sticky-column-content">
        <div class="main-image">
          {%- liquid
            for media in product.media
              if media.id == featured_media.id
                assign initial_slide = forloop.index0
                break
              endif
            endfor
          -%}
          <carousel-slider
            class="{% if section.settings.gallery_layout contains 'collage' or section.settings.gallery_layout contains 'columns' %}mobile-only{% endif %}"
            role="region"
            aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
            aria-label="{{ section.settings.accessibility_info | escape }}"
            data-dynamic-height="true"
            data-dispatch-events="true"
            data-lazy="false"
          >
            <div class="slider slider--no-scrollbar" id="slider-{{ section.id }}" aria-live="polite" aria-atomic="true">
              <div class="slider__grid">
                {%- for media in product.media -%}
                  <div
                    class="slider__item{% if forloop.index0 == initial_slide %} is-active{% endif %}"
                    role="group"
                    aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                    aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    {%- unless forloop.index0 == initial_slide %}
                      tabindex="-1"
                    {% endunless %}
                    {%- if request.design_mode %}
                      data-index="{{ forloop.index0 }}"
                    {% endif %}
                    data-media-id="{{ media.id }}"
                  >
                    {%- if media.media_type == 'image' and section.settings.enable_zoom -%}
                      <a
                        class="block show-gallery"
                        href="{{ media.preview_image | image_url: width: zoom_size }}"
                        aria-label="{{ 'products.product.media.load_image' | t: index: forloop.index }}"
                      >
                    {%- endif -%}

                    {%- liquid
                      if forloop.index0 == initial_slide
                        assign loading = 'eager'
                      else
                        assign loading = 'lazy'
                      endif

                      render 'media', media: media, product: product, min_aspect_ratio: min_aspect_ratio, loading: loading
                    -%}

                    {%- if media.media_type == 'image' and section.settings.enable_zoom -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
            </div>

            {%- if product.media.size > 1 -%}
              <div class="slider-nav slider-nav--floating desktop-only js-only">
                <button
                  type="button"
                  class="slider-nav__btn slider-nav__btn--style-2 has-ltr-icon"
                  name="prev"
                  aria-controls="slider-{{ section.id }}"
                >
                  <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
                  {% render 'icon-chevron-left' %}
                </button>

                <button
                  type="button"
                  class="slider-nav__btn slider-nav__btn--style-2 has-ltr-icon"
                  name="next"
                  aria-controls="slider-{{ section.id }}"
                >
                  <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
                  {% render 'icon-chevron-right' %}
                </button>
              </div>
            {%- endif -%}
          </carousel-slider>

          {%- if section.settings.gallery_layout contains 'collage'
            or section.settings.gallery_layout contains 'columns'
          -%}
            <div class="product-media-collage desktop-only">
              {%- for media in product.media -%}
                <div
                  class="product-media-collage__item{% if forloop.index0 == initial_slide %} is-active{% endif %}"
                  data-media-id="{{ media.id }}"
                >
                  {%- if media.media_type == 'image' and section.settings.enable_zoom -%}
                    <a class="show-gallery" href="{{ media.preview_image | image_url: width: zoom_size }}">
                  {%- endif -%}
                  {%- liquid
                    if forloop.index < 4
                      assign loading = 'eager'
                    else
                      assign loading = 'lazy'
                    endif

                    render 'media', media: media, product: product, min_aspect_ratio: min_aspect_ratio, loading: loading, in_collage: true
                  -%}
                  {%- if media.media_type == 'image' and section.settings.enable_zoom -%}
                    </a>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- liquid
            assign lang = request.locale.iso_code
            capture new_label
              case lang
                when 'de'
                  echo section.settings.new_label_text_de
                when 'fr'
                  echo section.settings.new_label_text_fr
                when 'fi'
                  echo section.settings.new_label_text_fi
                else
                  echo section.settings.new_label_text
              endcase
            endcapture
          -%}

          {%- if new_label != blank -%}
            <div class="product-label-container">
              <span class="product-label product-label--new-in">
                <span>{{ new_label }}</span>
              </span>
            </div>
          {%- endif -%}
        </div>

        {% if product.media.size > 1 %}
          <carousel-slider class="carousel block thumbnails{% unless section.settings.gallery_layout contains 'carousel' %} mobile-only{% endunless %}">
            <div class="slider slider--no-scrollbar">
              <ul class="slider__grid">
                {% for media in product.media %}
                  <li
                    class="slider__item{% if forloop.index0 == initial_slide %} is-active{% endif %}"
                    data-media-id="{{ media.id }}"
                  >
                    <a
                      class="thumbnail thumbnail--media-{{ media.media_type }}"
                      href="{% if section.settings.enable_zoom %}{{ media.preview_image | image_url: width: zoom_size }}{% else %}#{% endif %}"
                    >
                      {%- liquid
                        assign custom_aspect_ratio = media.preview_image.aspect_ratio | at_least: min_aspect_ratio
                        render 'image' with media.preview_image, sizes: '65px', widths: '65px, 130px', custom_aspect_ratio: custom_aspect_ratio, custom_crop: 'contain'
                      -%}

                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        <div class="thumbnail__badge">
                          {% render 'icon-video-badge-full-color' %}
                        </div>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                        <div class="thumbnail__badge">
                          {% render 'icon-3d-badge-full-color' %}
                        </div>
                      {%- endif -%}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </carousel-slider>
        {% endif %}
      </div>
    </div>
  </div>

  {%- if section.settings.enable_zoom -%}
    {%- render 'gallery-viewer', product: product, zoom_size: zoom_size -%}
  {%- endif -%}

  {%- if enable_media_grouping -%}
    {%- liquid
      assign media_grouping_options = section.settings.media_grouping_option | replace: ', ', ',' | split: ','
      for option in product.options
        if media_grouping_options contains option
          assign groupOptionName = option
          assign groupOptionIndex = forloop.index0
          assign groupOptionProperty = 'option' | append: forloop.index
          assign sortedVariants = product.variants | sort: groupOptionProperty
          break
        endif
      endfor
      assign currentGroup = null
    -%}
    {%- if groupOptionName -%}
      <script class="js-data-variant-media" type="application/json">
        {
          "groupOptionName": {{- groupOptionName | json -}},
          "groupOptionIndex": {{- groupOptionIndex }},
          "media": {
            {%- assign standardMediaFound = false -%}
            {%- for media in product.media -%}
              {%- liquid
                for variant in sortedVariants
                  if variant.featured_media and variant.featured_media.id == media.id
                    assign currentGroup = variant.options[groupOptionIndex]
                  endif
                endfor
                unless media.alt contains 'all-groups'
                  assign standardMediaFound = true
                endunless
              -%}
              {%- unless forloop.first -%},{%- endunless -%}
              "{{ media.id }}": {
                {%- if media.alt contains 'all-groups' -%}
                  "group": true, "position": "{% if standardMediaFound %}end{% else %}start{% endif %}"
                {%- else -%}
                  "group": {{ currentGroup | json }}
                {%- endif -%}
              }
            {%- endfor -%}
          }
        }
      </script>
    {%- endif -%}
  {%- endif -%}
</media-gallery>
