{%- if block.settings.page != blank -%}
  {%- assign locale_iso = request.locale.iso_code | downcase -%}
  {%- assign default_text = block.settings.text | escape -%}
  
  {%- if locale_iso == 'de' and block.settings.text_de != blank -%}
    {%- assign button_text = block.settings.text_de | escape -%}
  {%- elsif locale_iso == 'fr' and block.settings.text_fr != blank -%}
    {%- assign button_text = block.settings.text_fr | escape -%}
  {%- elsif locale_iso == 'fi' and block.settings.text_fi != blank -%}
    {%- assign button_text = block.settings.text_fi | escape -%}
  {%- else -%}
    {%- assign button_text = default_text -%} 
  {%- endif -%}

  <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
    <modal-opener class="no-js-hidden" data-modal="modal-{{ block.id }}">
      <button type="button" class="{% if block.settings.style != 'link' %}btn btn--{{ block.settings.style }}{% else %}small-feature-link{% endif %}" aria-haspopup="dialog">
        {{ button_text }}
      </button>
    </modal-opener>
    <a href="{{ block.settings.page.url }}" class="link js-hidden">{{ button_text }}</a>
  </div>
{%- endif -%}

<style >
  .modal__content {
    height: auto !important;
}
</style>