{% schema %}
{
  "name": "Custom Sale Tabs 3",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Related Products"
    },
    {
      "type": "text",
      "id": "title_de",
      "label": "Title in German",
      "default": "Ähnliche Modelle"
    },
    {
      "type": "text",
      "id": "title_fr",
      "label": "Title in French",
      "default": "Modèles associés"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        { "value": "top left", "label": "Top Left" },
        { "value": "top center", "label": "Top Center" },
        { "value": "top right", "label": "Top Right" },
        { "value": "center left", "label": "Center Left" },

        { "value": "center center", "label": "Center" },
        { "value": "center right", "label": "Center Right" },
        { "value": "bottom left", "label": "Bottom Left" },
        { "value": "bottom center", "label": "Bottom Center" },
        { "value": "bottom right", "label": "Bottom Right" }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        { "value": "cover", "label": "Cover" },
        { "value": "contain", "label": "Contain" },
        { "value": "auto", "label": "Auto" },
        { "value": "100", "label": "100%" }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_align_items",
      "label": "Vertical Alignment",
      "options": [
        { "value": "flex-start", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "background_padding_top",
      "label": "Top Padding",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "background_padding_right",
      "label": "Right Padding",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "background_padding_bottom",
      "label": "Bottom Padding",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "background_padding_left",
      "label": "Left Padding",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "url",
      "id": "ad_link",
      "label": "Ad Link"
    },
    {
      "type": "color",
      "id": "ad_button_color",
      "label": "Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "ad_button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "richtext",
      "id": "title_1",
      "label": "Heading 1"
    },
    {
      "type": "richtext",
      "id": "title_1_de",
      "label": "Heading 1(DE)"
    },
    {
      "type": "richtext",
      "id": "title_1_fr",
      "label": "Heading 1(FR)"
    },
    {
      "type": "color",
      "id": "heading_color_1",
      "label": "Heading Color 1",
      "default": "#000000"
    },
    {
      "type": "number",
      "id": "heading_size_1",
      "label": "Heading Font Size 1 (px)",
      "default": 24
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "text",
      "id": "button_label_de",
      "label": "German Button Label"
    },
    {
      "type": "text",
      "id": "button_label_fr",
      "label": "French Button Label"
    },
    {
      "type": "radio",
      "id": "product_source_trekking7ltd",
      "label": "Select Product Source for Trekking 7 LTD",
      "options": [
        { "value": "collection", "label": "Load from Collection" },
        { "value": "custom", "label": "Custom Products" }
      ],
      "default": "collection"
    },
    {
      "type": "collection",
      "id": "trekking7ltd_collection",
      "label": "Select Collection for Trekking 7 LTD"
    },
    {
      "type": "product_list",
      "id": "trekking7ltd_products",
      "label": "Trekking 7 LTD Products",
      "info": "Select multiple products for this tab."
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Product Description",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Custom Sale Tabs 3",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .product-content-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 0 100px 0;
  }

  .explore-title {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: left;
  }

  .tab-content-section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
  }

  .description-box {
    padding: 0 30px 20px;
  }

  .product-price--large .price__was {
    color: #b72626;
  }
  .product-price--large .price__was {
    margin-left: 8px;
    text-decoration: line-through;
  }
  .ad-image {
    flex: 0.6;
    position: relative;
    border-radius: 10px;
    margin-top: 72px;
  }

  .ad-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  }

  .priceblock .price__default {
    font-size: 16px;
    font-weight: bold;
  }

  .tab-area {
    flex: 2;
  }

  .tab-item {
    padding: 10px 20px;
    background: #fff;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .tab-item.active {
    background: #000000;
    font-weight: bold;
    color: #fff;
  }

  .custom-tabs {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .tab-panel {
    display: none;
  }

  .tab-panel.active {
    display: block;
  }

  .product-columns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 20px;
  }

  .product-column {
    position: relative;
    width: 48%;
    border: 1px solid #bababa;
    border-radius: 10px;
  }
  .product-column-4 {
    width: 23%;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
  }

  .product-column img,
  .product-column-4 img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9 !important;
    object-fit: contain;
    border-radius: 10px 10px 0 0 !important;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 20px;
  }

  .benefits-container {
    display: flex;
    height: auto;
    align-items: center;
  }
  .customprice {
    margin: 10px 0 !important;
  }

  .was-price {
    margin-left: 10px;
    text-decoration: line-through;
    color: #bf3737;
    font-size: 18px;
  }

  .current-price {
    font-size: 18px;
    margin: 0;
    text-align: left;
    font-weight: 700;
    line-height: 30px;
    color: #333 !important;
  }

  .producttitle {
    color: #000;
  }

  .product-column img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
    background: #eeeeee;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .product-column h3,
  .product-column-4 h3 {
    font-size: 16px;
  }

  .orderbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 10px;
    border: 1px solid black;
  }

  .orderbutton:hover {
    background-color: black;
    color: white;
  }

  .orderbutton.sold-out {
    background-color: #ccc;
    color: #666;
    border: #666;
    cursor: not-allowed;
    pointer-events: none;
  }

  .customprice {
    margin: 0;
  }

  .current-prices {
    font-size: 18px;
  }

  .was-prices {
    font-size: 18px;
  }

  .products-description {
    font-size: 12px;
  }

  .custom-button {
    color: #fff;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    font-weight: 400;
    display: block;
    line-height: 1;
    padding: 12px 20px;
    outline: 0;
    cursor: pointer;
    background: black;
  }
  .discount-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 120px;
    max-height: 60px;
    height: 100%;
    object-fit: contain;
  }
  .discount-image2 {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 120px;
    max-height: 140px;
    height: 100%;
    object-fit: contain;
  }

  .discount-image3 {
    position: relative;
    margin-bottom: 0;
    left: 0px;
    width: 100%;
    max-height: 0;
    height: 0;
    object-fit: contain;
    margin-left: -130px;
  }

  .discount-label {
    position: relative !important;
    font-size: 12px;
    background-color: #ffd200;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
  }

  .product-column {
    position: relative;
  }

  .product-column-4 {
    width: 23%;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
  }

  .product-column img,
  .product-column-4 img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .was-prices {
    margin-left: 10px;
    text-decoration: line-through;
    color: #bf3737;
    font-size: 14px;
  }

  .current-prices {
    font-size: 14px;
    margin: 0;
    text-align: left;
    font-weight: 700;
    line-height: 30px;
    color: #333 !important;
  }

  @media (max-width: 768px) {
    .product-column,
    .product-column-4 {
      width: 100% !important;
    }

    .custom-size-tabs {
      flex-direction: column;
    }

    .explore-title {
      margin-left: 0;
    }

    .tab-content-area {
      padding: 0;
      border-radius: 5px;
      background: #fff;
    }

    .tab-item {
      padding: 10px;
      background: #fff;
      margin-right: 5px;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    .tab-content-section {
      flex-direction: column-reverse;
    }

    .ad-image {
      margin-top: 0px;
      margin-bottom: 60px;
    }

    .tab-area {
      flex: 2;
      padding: 20px;
    }
  }
</style>

<div class="product-content-section" id="frame_geometry">
  <div class="tab-content-section">
    <div class="tab-content-area">
      <div id="trekking7ltd" class="tab-panel active" role="tabpanel">
        <div class="product-columns">
          {% assign trekking_ltd_source = section.settings.product_source_trekking7ltd %}
          {% if trekking_ltd_source == 'collection' %}
            {% assign trekking_ltd_collection = collections[section.settings.trekking7ltd_collection] %}
            {% if trekking_ltd_collection and trekking_ltd_collection.products.size > 0 %}
              {% for product in trekking_ltd_collection.products %}
                <div class="product-column">
                  <a href="{{ product.url }}">
                    {% if product.metafields.custom.featured_image %}
                      <img
                        src="{{ product.metafields.custom.featured_image | file_url }}"
                        alt="{{ product.title }}"
                      >
                    {% else %}
                      <img
                        src="{{ product.featured_image | img_url: 'original' }}"
                        alt="{{ product.title }}"
                      >
                    {% endif %}
                  </a>

                  {% if product.metafields.custom.discount_image %}
                    <div class="discount-image">
                      <img
                        src="{{ product.metafields.custom.discount_image | file_url }}"
                        alt="{{ product.title }}"
                        style="
                          aspect-ratio: auto;
                          height: 50px;
                          padding: 0;
                          border-radius: 10px;
                        "
                      >
                    </div>
                  {% endif %}
                  {% if product.metafields.custom.discount_image3 %}
                    <div class="discount-image3" style="margin-left: 0">
                      <img
                        src="{{ product.metafields.custom.discount_image3 | file_url }}"
                        alt="{{ product.title }}"
                        style="
                          aspect-ratio: auto;
                          height: 50px;
                          bottom: 10px;
                          position: absolute;
                          padding: 0;
                          background: transparent;
                        "
                      >
                    </div>
                  {% endif %}
                  {% if product.metafields.custom.discount_image2 %}
                    <div class="discount-image2">
                      <img
                        src="{{ product.metafields.custom.discount_image2 | file_url }}"
                        alt="{{ product.title }}"
                        style="aspect-ratio: auto; height: 120px"
                      >
                    </div>
                  {% endif %}
                  <div
                    style="
                      display: flex;
                      gap: 8px;
                      position: absolute;
                      top: 10px;
                      right: 10px;
                      z-index: 1;
                    "
                  >
                    {% if localization.country.iso_code == 'DE' %}
                      {% if product.metafields.custom.discount_2 %}
                        <div class="discount-label">
                          {{ product.metafields.custom.discount_2 }}
                        </div>
                      {% endif %}
                    {% endif %}
                    {% if product.metafields.custom.discount_3 %}
                      <div class="discount-label">
                        {{ product.metafields.custom.discount_3 }}
                      </div>
                    {% endif %}
                    {% if product.metafields.custom.discount %}
                      <div class="discount-label">
                        {{ product.metafields.custom.discount }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="description-box">
                    <h3>
                      <a href="{{ product.url }}" class="producttitle">{{ product.title }}</a>
                    </h3>

                    {% if section.settings.show_description %}
                      {%- if product.metafields.custom.motor_torque_2.value != blank -%}
                        {% if request.locale.iso_code == 'de' %}
                          {{ product.metafields.custom.motor_torque_2.value }} Motor/
                          {{- product.metafields.custom.battery_capacity.value }}
                          Akku /{{ product.metafields.custom.display_size.value }} Display
                        {% elsif request.locale.iso_code == 'fr' %}
                          Moteur de {{ product.metafields.custom.motor_torque_2.value }} /Batterie de
                          {{ product.metafields.custom.battery_capacity.value }} /
                          {{- product.metafields.custom.display_size.value }}
                        {% else %}
                          {{ product.metafields.custom.motor_torque_2.value }} Motor/
                          {{- product.metafields.custom.battery_capacity.value }}
                          Baterry/{{ product.metafields.custom.display_size.value }} Display
                        {% endif %}
                      {% endif -%}
                    {%- endif %}

                    <div
                      class="product-info__price product-price product-price--large priceblock"
                    >
                      {% unless bss_check_variant -%}
                        {%- render 'price',
                          product: product,
                          show_currency_code: settings.product_currency_code_enabled,
                          for_variant_picker: true,
                          current_variant: current_variant
                        -%}
                      {%- else -%}
                        <span
                          class="bsscommerce-hv-message"
                          >Lock</span
                        >
                      {%- endunless %}
                    </div>

                    <div class="specification_simple">
                      {% if product.metafields.custom.zinia_financing.value %}
                        Financing from €{{ product.metafields.custom.zinia_financing.value }}/month with
                        <svg
                          width="94"
                          height="48"
                          viewBox="0 0 94 48"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          style="width: 40px; height: 30px"
                        >
                          <g clip-path="url(#1yynkyvu0a)" fill="#053840">
                            <path
                              d="M19.982 40.63c-.041-1.225-1.918-3.306-2.163-4.475-1.632 2.353 2.775 4.556 1.156 6.922-.448-1.496-1.985-3.196-2.434-4.692-1.632 2.353 2.774 4.556 1.156 6.91-.272-1.266-2.258-3.32-2.163-4.666-5.168 1.428-2.733 5.4 2.23 5.29 4.952.096 7.373-3.862 2.218-5.29zm4.828 4.746a3.49 3.49 0 0 1 .177-.98c2.475 1.184 4.991-.611 1.4-1.903-.91-.395-1.523-.912-1.523-1.932-.19-1.836 2.612-2.121 4.094-1.523-.027.38-.095.68-.19.966-.884-.34-2.816-.585-2.802.557 0 .504.38.79 1.047 1.075 1.21.435 2.367 1.142 2.258 2.23.177 1.945-3.006 2.244-4.46 1.51zm9.63-4.597v4.814h-.98l-.054-.584c-3.659 3.413-5.957-6.338 1.033-4.23zm-1.061 3.713v-3.033c-3.346-.952-3.02 4.828 0 3.033zm6.5-2.135v3.236h-1.06v-3.06c.163-1.129-1.143-1.264-2.15-1.047v4.108h-1.06v-4.815c1.714-.517 4.502-.435 4.27 1.578zm2.938 2.434c.313 0 .599-.054.83-.15-.027.286-.068.613-.122.898-1.184.408-2.652.068-2.584-1.496v-5.06c.326-.108.734-.149 1.06-.149v1.822h1.673a8.938 8.938 0 0 1-.095.912h-1.578v2.366c0 .612.3.857.816.857zm5.672-4.012v4.814h-.98l-.054-.584c-3.658 3.413-5.943-6.338 1.034-4.23zm-1.061 3.713v-3.033c-3.346-.952-3.02 4.828 0 3.033zm6.488-2.135v3.236h-1.061v-3.06c.163-1.129-1.143-1.264-2.15-1.047v4.108h-1.06v-4.815c1.727-.517 4.515-.422 4.27 1.578zm5.385-3.51v6.746h-.979l-.054-.612c-.272.45-.68.735-1.374.735-3.305-.136-2.802-6.148 1.36-5.127v-1.592c.327-.122.707-.15 1.047-.15zm-1.047 5.631v-2.965c-3.4-1.128-3.074 4.842 0 2.965zm6.365-.952h-3.386c.15 1.605 2.162 1.428 3.277.911-.04.286-.095.653-.163.966-4.814 1.959-5.671-4.869-1.836-4.896 1.904-.027 2.367 1.578 2.108 3.02zm-3.386-.884h2.393c.082-1.673-2.393-1.66-2.393 0zm7.1-2.094c0 .313-.042.707-.096.91a6.809 6.809 0 0 0-1.578.014v4.121H65.6V40.78c.707-.259 1.944-.327 2.733-.231zM4.246 42.792c.517.72.367 1.945-.3 2.462-.734.734-2.924.448-3.944.503V38.82c1.061-.204 2.925-.299 3.673.34.965.708.775 2.476-.368 2.965.422.136.721.354.939.667zm-1.238-3.047c-.394-.34-1.455-.34-2.122-.245v2.313c.585-.028 1.714.122 2.15-.286.489-.354.489-1.442-.028-1.782zm.259 4.937c.544-.34.544-1.455 0-1.809-.463-.421-1.741-.285-2.38-.299v2.407c.652-.027 1.917.11 2.38-.299zM9.727 40.792l-1.986 5.604c-.353 1.102-1.115 1.836-2.244 1.537 0-.231.014-.476.055-.734.843.217 1.333-.381 1.55-1.17l-2.04-5.25h.925l1.496 4.175L8.87 40.78l.857.013zM44.64 9.878c1.482 1.456 2.23 3.781 2.23 6.991v10.935h-4.23V17.1c0-1.89-.407-3.332-1.196-4.311-.803-.98-1.986-1.483-3.537-1.483-1.659 0-2.95.572-3.903 1.728-.938 1.156-1.414 2.733-1.414 4.76v10.01H28.4V10c0-1.143.926-2.054 2.054-2.054h.014c1.129 0 2.054.911 2.054 2.054v.557c1.496-1.89 3.617-2.829 6.365-2.829 2.353-.013 4.27.708 5.753 2.15zM89.06 1.609l-.123.286c-.013.013-.013.027-.013.04-.041.096-.082.177-.11.272a5.84 5.84 0 0 0-.176.436c-.04.095-.068.176-.109.272l-.245.57c-.013.014-.013.028-.013.042-.327.639-.422 1.333.136 1.89.557.558 1.251.463 1.877.136.013 0 .027-.013.04-.013.096-.041.177-.082.273-.11.258-.108.516-.217.788-.326l.49-.204C93.67 4.384 94.39 2.18 93.03.807c-1.183-1.252-3.373-.79-3.971.802zM85.048 3.894c-.041-.109-.096-.218-.136-.327-.041-.095-.082-.176-.11-.272-.08-.19-.162-.38-.244-.57a5.84 5.84 0 0 1-.177-.436c0-.014-.013-.027-.013-.04-.028-.069-.069-.15-.096-.218-.04-.11-.095-.218-.136-.313-.53-1.66-2.788-2.204-4.012-.939-1.305 1.238-.694 3.523 1.007 4.026.095.04.176.082.272.109.217.095.435.177.652.272.096.04.177.068.272.109.068.027.15.068.218.095.19.082.38.163.571.231 1.061.667 2.476-.585 1.932-1.727zM92.215 9.81c-.054-.027-.109-.04-.15-.068-.04-.013-.095-.04-.135-.054l-.694-.286c-.163-.068-.313-.136-.476-.204-.055-.027-.123-.04-.177-.068-.095-.04-.177-.068-.272-.109-.095-.04-.204-.081-.3-.122-1.305-.626-2.515.816-1.78 2.027.067.15.122.299.19.462 0 .014.013.027.013.04.027.069.068.15.095.218.068.15.123.286.177.435 0 .014.014.028.014.041.054.15.122.3.177.436 1.85 4.692 7.602-.313 3.318-2.748zM84.082 12.952c.04-.109.095-.218.136-.326.027-.069.068-.15.095-.218.014-.014.014-.027.014-.04.136-.327.285-.667.421-1.007.041-.096.068-.177.109-.272l.122-.286c.653-1.102-.612-2.503-1.768-1.945-.013.014-.027.014-.04.014-.164.068-.313.136-.477.204-.095.04-.176.068-.272.109-.34.136-.666.285-1.006.421-.095.041-.177.082-.272.109-1.7.503-2.34 2.788-1.034 4.04 1.21 1.21 3.373.761 3.972-.803zM24.008.739c2.339 2.448-1.21 5.875-3.645 3.604-2.326-2.448 1.21-5.862 3.645-3.604zm-1.89 7.235c1.155-.082 2.175.83 2.162 2v17.83h-4.19V9.987c0-1.102.912-2.013 2.027-2.013zM54.528.739c2.339 2.448-1.211 5.875-3.645 3.604-2.34-2.448 1.223-5.862 3.645-3.604zm-1.891 7.235c1.156-.082 2.176.83 2.163 2v17.83h-4.19V9.987a2.038 2.038 0 0 1 2.027-2.013zM76.656 24.159c-2.489.122 1.197-11.82-3.06-14.553-4.216-3.454-14.485-2.298-14.88 4.42h4.122c.49-3.182 5.549-3.645 7.63-1.958 1.156.816 1.237 2.462 1.17 3.822-3.251.013-9.113-.395-11.303 1.645-2.734 1.877-3.006 6.991-.15 8.977 3.237 2.489 9.698 2.08 11.888-1.863-.069 2.774 2.121 3.332 4.61 3.182 2.38-.054 2.312-3.645-.027-3.672zm-5.046-4.502c.19 4.257-4.91 6.46-8.242 4.339-1.374-.966-1.278-3.4.054-4.284 1.428-1.238 6.311-.613 8.175-.762l.013.707zM17.194 24.132H5.592L16.174 11.55c1.156-1.333.136-3.618-1.66-3.563H.234v3.685h10.84L.573 24.132c-1.21 1.319-.408 3.713 1.496 3.685h15.137l-.013-3.685z"
                            ></path>
                          </g>
                          <defs>
                            <clipPath id="1yynkyvu0a">
                              <path fill="#fff" d="M0 0h93.766v48H0z"></path>
                            </clipPath>
                          </defs>
                        </svg>
                      {% endif %}
                    </div>

                    {% assign product_available = false %}
                    {% for variant in product.variants %}
                      {% if variant.inventory_quantity > 0 %}
                        {% assign product_available = true %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% else %}
            {% for product in section.settings.trekking7ltd_products %}
              <div class="product-column">
                <a href="{{ product.url }}">
                  {% if product.metafields.custom.featured_image %}
                    <img
                      src="{{ product.metafields.custom.featured_image | file_url }}"
                      alt="{{ product.title }}"
                    >
                  {% else %}
                    <img
                      src="{{ product.featured_image | img_url: 'original' }}"
                      alt="{{ product.title }}"
                    >
                  {% endif %}
                </a>

                {% if product.metafields.custom.discount_image %}
                  <div class="discount-image">
                    <img
                      src="{{ product.metafields.custom.discount_image | file_url }}"
                      alt="{{ product.title }}"
                      style="
                        aspect-ratio: auto;
                        height: 50px;
                        padding: 0;
                        border-radius: 10px;
                      "
                    >
                  </div>
                {% endif %}
                {% if product.metafields.custom.discount_image3 %}
                  <div class="discount-image3" style="margin-left: 0">
                    <img
                      src="{{ product.metafields.custom.discount_image3 | file_url }}"
                      alt="{{ product.title }}"
                      style="
                        aspect-ratio: auto;
                        height: 50px;
                        bottom: 10px;
                        position: absolute;
                        padding: 0;
                        background: transparent;
                      "
                    >
                  </div>
                {% endif %}
                {% if product.metafields.custom.benefits_of_promotion.value %}
                  <div
                    class="benefits-container"
                    style="margin-left: 0; display: flex; justify-content: center"
                  >
                    {% if localization.country.iso_code == 'DE' %}
                      <span
                        style="
                          position: relative;
                          font-size: 14px;
                          text-align: center;
                          color: #9e1313;
                          margin-top: -100px;
                        "
                      >
                        {{- product.metafields.custom.benefits_of_promotion.value | newline_to_br -}}
                      </span>
                    {% endif %}
                  </div>
                {% endif %}
                {% if product.metafields.custom.discount_image2 %}
                  <div class="discount-image2">
                    <img
                      src="{{ product.metafields.custom.discount_image2 | file_url }}"
                      alt="{{ product.title }}"
                      style="aspect-ratio: auto; height: 120px"
                    >
                  </div>
                {% endif %}

                <div
                  style="
                    display: flex;
                    gap: 8px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 1;
                  "
                >
                  {% if localization.country.iso_code == 'DE' %}
                    {% if product.metafields.custom.discount_2 %}
                      <div class="discount-label">
                        {{ product.metafields.custom.discount_2 }}
                      </div>
                    {% endif %}
                  {% endif %}
                  {% if product.metafields.custom.discount %}
                    <div class="discount-label">
                      {{ product.metafields.custom.discount }}
                    </div>
                  {% endif %}
                </div>
                <div class="description-box">
                  <h3>
                    <a href="{{ product.url }}" class="producttitle">{{ product.title }}</a>
                  </h3>

                  {% if section.settings.show_description %}
                    {%- if product.metafields.custom.motor_torque_2.value != blank -%}
                      {% if request.locale.iso_code == 'de' %}
                        {{ product.metafields.custom.motor_torque_2.value }} Motor/
                        {{- product.metafields.custom.battery_capacity.value }}
                        Akku /{{ product.metafields.custom.display_size.value }} Display
                      {% elsif request.locale.iso_code == 'fr' %}
                        Moteur de {{ product.metafields.custom.motor_torque_2.value }} /Batterie de
                        {{ product.metafields.custom.battery_capacity.value }} /
                        {{- product.metafields.custom.display_size.value }}
                      {% else %}
                        {{ product.metafields.custom.motor_torque_2.value }} Motor/
                        {{- product.metafields.custom.battery_capacity.value }}
                        Baterry/{{ product.metafields.custom.display_size.value }} Display
                      {% endif %}
                    {% endif -%}
                  {%- endif %}

                  <div
                    class="product-info__price product-price product-price--large priceblock"
                  >
                    {% unless bss_check_variant -%}
                      {%- render 'price',
                        product: product,
                        show_currency_code: settings.product_currency_code_enabled,
                        for_variant_picker: true,
                        current_variant: current_variant
                      -%}
                    {%- else -%}
                      <span
                        class="bsscommerce-hv-message"
                        >Lock</span
                      >
                    {%- endunless %}
                  </div>

                  <div class="specification_simple">
                    {% if product.metafields.custom.zinia_financing.value %}
                      Financing from €{{ product.metafields.custom.zinia_financing.value }}/month with
                      <svg
                        width="94"
                        height="48"
                        viewBox="0 0 94 48"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        style="width: 40px; height: 30px"
                      >
                        <g clip-path="url(#1yynkyvu0a)" fill="#053840">
                          <path
                            d="M19.982 40.63c-.041-1.225-1.918-3.306-2.163-4.475-1.632 2.353 2.775 4.556 1.156 6.922-.448-1.496-1.985-3.196-2.434-4.692-1.632 2.353 2.774 4.556 1.156 6.91-.272-1.266-2.258-3.32-2.163-4.666-5.168 1.428-2.733 5.4 2.23 5.29 4.952.096 7.373-3.862 2.218-5.29zm4.828 4.746a3.49 3.49 0 0 1 .177-.98c2.475 1.184 4.991-.611 1.4-1.903-.91-.395-1.523-.912-1.523-1.932-.19-1.836 2.612-2.121 4.094-1.523-.027.38-.095.68-.19.966-.884-.34-2.816-.585-2.802.557 0 .504.38.79 1.047 1.075 1.21.435 2.367 1.142 2.258 2.23.177 1.945-3.006 2.244-4.46 1.51zm9.63-4.597v4.814h-.98l-.054-.584c-3.659 3.413-5.957-6.338 1.033-4.23zm-1.061 3.713v-3.033c-3.346-.952-3.02 4.828 0 3.033zm6.5-2.135v3.236h-1.06v-3.06c.163-1.129-1.143-1.264-2.15-1.047v4.108h-1.06v-4.815c1.714-.517 4.502-.435 4.27 1.578zm2.938 2.434c.313 0 .599-.054.83-.15-.027.286-.068.613-.122.898-1.184.408-2.652.068-2.584-1.496v-5.06c.326-.108.734-.149 1.06-.149v1.822h1.673a8.938 8.938 0 0 1-.095.912h-1.578v2.366c0 .612.3.857.816.857zm5.672-4.012v4.814h-.98l-.054-.584c-3.658 3.413-5.943-6.338 1.034-4.23zm-1.061 3.713v-3.033c-3.346-.952-3.02 4.828 0 3.033zm6.488-2.135v3.236h-1.061v-3.06c.163-1.129-1.143-1.264-2.15-1.047v4.108h-1.06v-4.815c1.727-.517 4.515-.422 4.27 1.578zm5.385-3.51v6.746h-.979l-.054-.612c-.272.45-.68.735-1.374.735-3.305-.136-2.802-6.148 1.36-5.127v-1.592c.327-.122.707-.15 1.047-.15zm-1.047 5.631v-2.965c-3.4-1.128-3.074 4.842 0 2.965zm6.365-.952h-3.386c.15 1.605 2.162 1.428 3.277.911-.04.286-.095.653-.163.966-4.814 1.959-5.671-4.869-1.836-4.896 1.904-.027 2.367 1.578 2.108 3.02zm-3.386-.884h2.393c.082-1.673-2.393-1.66-2.393 0zm7.1-2.094c0 .313-.042.707-.096.91a6.809 6.809 0 0 0-1.578.014v4.121H65.6V40.78c.707-.259 1.944-.327 2.733-.231zM4.246 42.792c.517.72.367 1.945-.3 2.462-.734.734-2.924.448-3.944.503V38.82c1.061-.204 2.925-.299 3.673.34.965.708.775 2.476-.368 2.965.422.136.721.354.939.667zm-1.238-3.047c-.394-.34-1.455-.34-2.122-.245v2.313c.585-.028 1.714.122 2.15-.286.489-.354.489-1.442-.028-1.782zm.259 4.937c.544-.34.544-1.455 0-1.809-.463-.421-1.741-.285-2.38-.299v2.407c.652-.027 1.917.11 2.38-.299zM9.727 40.792l-1.986 5.604c-.353 1.102-1.115 1.836-2.244 1.537 0-.231.014-.476.055-.734.843.217 1.333-.381 1.55-1.17l-2.04-5.25h.925l1.496 4.175L8.87 40.78l.857.013zM44.64 9.878c1.482 1.456 2.23 3.781 2.23 6.991v10.935h-4.23V17.1c0-1.89-.407-3.332-1.196-4.311-.803-.98-1.986-1.483-3.537-1.483-1.659 0-2.95.572-3.903 1.728-.938 1.156-1.414 2.733-1.414 4.76v10.01H28.4V10c0-1.143.926-2.054 2.054-2.054h.014c1.129 0 2.054.911 2.054 2.054v.557c1.496-1.89 3.617-2.829 6.365-2.829 2.353-.013 4.27.708 5.753 2.15zM89.06 1.609l-.123.286c-.013.013-.013.027-.013.04-.041.096-.082.177-.11.272a5.84 5.84 0 0 0-.176.436c-.04.095-.068.176-.109.272l-.245.57c-.013.014-.013.028-.013.042-.327.639-.422 1.333.136 1.89.557.558 1.251.463 1.877.136.013 0 .027-.013.04-.013.096-.041.177-.082.273-.11.258-.108.516-.217.788-.326l.49-.204C93.67 4.384 94.39 2.18 93.03.807c-1.183-1.252-3.373-.79-3.971.802zM85.048 3.894c-.041-.109-.096-.218-.136-.327-.041-.095-.082-.176-.11-.272-.08-.19-.162-.38-.244-.57a5.84 5.84 0 0 1-.177-.436c0-.014-.013-.027-.013-.04-.028-.069-.069-.15-.096-.218-.04-.11-.095-.218-.136-.313-.53-1.66-2.788-2.204-4.012-.939-1.305 1.238-.694 3.523 1.007 4.026.095.04.176.082.272.109.217.095.435.177.652.272.096.04.177.068.272.109.068.027.15.068.218.095.19.082.38.163.571.231 1.061.667 2.476-.585 1.932-1.727zM92.215 9.81c-.054-.027-.109-.04-.15-.068-.04-.013-.095-.04-.135-.054l-.694-.286c-.163-.068-.313-.136-.476-.204-.055-.027-.123-.04-.177-.068-.095-.04-.177-.068-.272-.109-.095-.04-.204-.081-.3-.122-1.305-.626-2.515.816-1.78 2.027.067.15.122.299.19.462 0 .014.013.027.013.04.027.069.068.15.095.218.068.15.123.286.177.435 0 .014.014.028.014.041.054.15.122.3.177.436 1.85 4.692 7.602-.313 3.318-2.748zM84.082 12.952c.04-.109.095-.218.136-.326.027-.069.068-.15.095-.218.014-.014.014-.027.014-.04.136-.327.285-.667.421-1.007.041-.096.068-.177.109-.272l.122-.286c.653-1.102-.612-2.503-1.768-1.945-.013.014-.027.014-.04.014-.164.068-.313.136-.477.204-.095.04-.176.068-.272.109-.34.136-.666.285-1.006.421-.095.041-.177.082-.272.109-1.7.503-2.34 2.788-1.034 4.04 1.21 1.21 3.373.761 3.972-.803zM24.008.739c2.339 2.448-1.21 5.875-3.645 3.604-2.326-2.448 1.21-5.862 3.645-3.604zm-1.89 7.235c1.155-.082 2.175.83 2.162 2v17.83h-4.19V9.987c0-1.102.912-2.013 2.027-2.013zM54.528.739c2.339 2.448-1.211 5.875-3.645 3.604-2.34-2.448 1.223-5.862 3.645-3.604zm-1.891 7.235c1.156-.082 2.176.83 2.163 2v17.83h-4.19V9.987a2.038 2.038 0 0 1 2.027-2.013zM76.656 24.159c-2.489.122 1.197-11.82-3.06-14.553-4.216-3.454-14.485-2.298-14.88 4.42h4.122c.49-3.182 5.549-3.645 7.63-1.958 1.156.816 1.237 2.462 1.17 3.822-3.251.013-9.113-.395-11.303 1.645-2.734 1.877-3.006 6.991-.15 8.977 3.237 2.489 9.698 2.08 11.888-1.863-.069 2.774 2.121 3.332 4.61 3.182 2.38-.054 2.312-3.645-.027-3.672zm-5.046-4.502c.19 4.257-4.91 6.46-8.242 4.339-1.374-.966-1.278-3.4.054-4.284 1.428-1.238 6.311-.613 8.175-.762l.013.707zM17.194 24.132H5.592L16.174 11.55c1.156-1.333.136-3.618-1.66-3.563H.234v3.685h10.84L.573 24.132c-1.21 1.319-.408 3.713 1.496 3.685h15.137l-.013-3.685z"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="1yynkyvu0a">
                            <path fill="#fff" d="M0 0h93.766v48H0z"></path>
                          </clipPath>
                        </defs>
                      </svg>
                    {% endif %}
                  </div>

                  {% assign product_available = false %}
                  {% for variant in product.variants %}
                    {% if variant.inventory_quantity > 0 %}
                      {% assign product_available = true %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
