{% schema %}
{
  "name": "Custom Size Tabs",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image for Frame Size Tab"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image for Frame Size Tab"
    }
  ],
  "blocks": [
  {
    "type": "step_through",
    "name": "Step Through",
    "settings": [
     {
          "type": "image_picker",
          "id": "step_through_image",
          "label": "Step Through Image"
        },
        {
          "type": "text",
          "id": "frame_height_low",
          "label": "Frame Height",
          "default": "460 mm"
        },
        {
          "type": "text",
          "id": "frame_height_low_L",
          "label": "Frame Height L",
          "default": "490 mm"
        },
        {
          "type": "text",
          "id": "frame_height_low_S",
          "label": "Frame Height S",
        },
        {
          "type": "text",
          "id": "seat_tube_angle_low",
          "label": "Seat Tube Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_low_L",
          "label": "Seat Tube Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_low_S",
          "label": "Seat Tube Angle S",
        },
        {
          "type": "text",
          "id": "fork_offset_low",
          "label": "Fork Offset",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_low_L",
          "label": "Fork Offset L",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_low_S",
          "label": "Fork Offset S",
        },
        {
          "type": "text",
          "id": "seat_angle_low",
          "label": "Seat Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_low_L",
          "label": "Seat Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_low_S",
          "label": "Seat Angle S",
        },
        {
          "type": "text",
          "id": "head_tube_length_low",
          "label": "Head Tube Length",
          "default": "160 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_low_L",
          "label": "Head Tube Length L",
          "default": "170 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_low_S",
          "label": "Head Tube Length S",
        },
        {
          "type": "text",
          "id": "head_tube_angle_low",
          "label": "Head Tube Angle",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_low_L",
          "label": "Head Tube Angle L",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_low_S",
          "label": "Head Tube Angle S",
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_low",
          "label": "Top Tube Horizontal",
          "default": "591 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_low_L",
          "label": "Top Tube Horizontal L",
          "default": "629 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_low_S",
          "label": "Top Tube Horizontal S",
        },
        {
          "type": "text",
          "id": "chain_stay_length_low",
          "label": "Chain Stay Length",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_low_L",
          "label": "Chain Stay Length L",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_low_S",
          "label": "Chain Stay Length S",
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_low",
          "label": "Bottom Bracket Drop",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_low_L",
          "label": "Bottom Bracket Drop L",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_low_S",
          "label": "Bottom Bracket Drop S",
        },
        {
          "type": "text",
          "id": "wheelbase_low",
          "label": "Wheelbase",
          "default": "1162 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_low_L",
          "label": "Wheelbase L",
          "default": "1201 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_low_S",
          "label": "Wheelbase S",
        },
        {
          "type": "text",
          "id": "stack_low",
          "label": "Stack",
          "default": "637 mm"
        },
        {
          "type": "text",
          "id": "stack_low_L",
          "label": "Stack L",
          "default": "647 mm"
        },
        {
          "type": "text",
          "id": "stack_low_S",
          "label": "Stack S",
        },
        {
          "type": "text",
          "id": "reach_low",
          "label": "Reach",
          "default": "408 mm"
        },
        {
          "type": "text",
          "id": "reach_low_L",
          "label": "Reach L",
          "default": "443 mm"
        },
        {
          "type": "text",
          "id": "reach_low_S",
          "label": "Reach S",
        },
        {
          "type": "text",
          "id": "standover_height_low",
          "label": "Standover Height",
          "default": "720 mm"
        },
        {
          "type": "text",
          "id": "standover_height_low_L",
          "label": "Standover Height L",
          "default": "720 mm"
        },
        {
          "type": "text",
          "id": "standover_height_low_S",
          "label": "Standover Height S",
        },
        {
          "type": "text",
          "id": "seat_height_min_low",
          "label": "Seat Height Min",
          "default": "850 mm"
        },
        {
          "type": "text",
          "id": "seat_height_min_low_L",
          "label": "Seat Height Min L",
          "default": "850 mm"
        },
        {
          "type": "text",
          "id": "seat_height_min_low_S",
          "label": "Seat Height Min S",
        },
        {
          "type": "text",
          "id": "seat_height_max_low",
          "label": "Seat Height Max",
          "default": "1000 mm"
        },
        {
          "type": "text",
          "id": "seat_height_max_low_L",
          "label": "Seat Height Max L",
          "default": "1000 mm"
        },
        {
          "type": "text",
          "id": "seat_height_max_low_S",
          "label": "Seat Height Max S",
        }
    ]
  },
    {
      "type": "low_step",
      "name": "Low Step",
      "settings": [
      {
        "type": "image_picker",
        "id": "low_step_image",
        "label": "Low Step Image"
      },
      {
        "type": "text",
        "id": "frame_height_low",
        "label": "Frame Height",
        "default": "460 mm"
      },
      {
        "type": "text",
        "id": "frame_height_low_L",
        "label": "Frame Height L",
        "default": "490 mm"
      },
      {
        "type": "text",
        "id": "seat_tube_angle_low",
        "label": "Seat Tube Angle",
        "default": "74°"
      },
      {
        "type": "text",
        "id": "seat_tube_angle_low_L",
        "label": "Seat Tube Angle L",
        "default": "74°"
      },
      {
        "type": "text",
        "id": "fork_offset_low",
        "label": "Fork Offset",
        "default": "43 mm"
      },
      {
        "type": "text",
        "id": "fork_offset_low_L",
        "label": "Fork Offset L",
        "default": "43 mm"
      },
      {
        "type": "text",
        "id": "seat_angle_low",
        "label": "Seat Angle",
        "default": "74°"
      },
      {
        "type": "text",
        "id": "seat_angle_low_L",
        "label": "Seat Angle L",
        "default": "74°"
      },
      {
        "type": "text",
        "id": "head_tube_length_low",
        "label": "Head Tube Length",
        "default": "160 mm"
      },
      {
        "type": "text",
        "id": "head_tube_length_low_L",
        "label": "Head Tube Length L",
        "default": "170 mm"
      },
      {
        "type": "text",
        "id": "head_tube_angle_low",
        "label": "Head Tube Angle",
        "default": "68.5°"
      },
      {
        "type": "text",
        "id": "head_tube_angle_low_L",
        "label": "Head Tube Angle L",
        "default": "68.5°"
      },
      {
        "type": "text",
        "id": "top_tube_horizontal_low",
        "label": "Top Tube Horizontal",
        "default": "591 mm"
      },
      {
        "type": "text",
        "id": "top_tube_horizontal_low_L",
        "label": "Top Tube Horizontal L",
        "default": "629 mm"
      },
      {
        "type": "text",
        "id": "chain_stay_length_low",
        "label": "Chain Stay Length",
        "default": "484 mm"
      },
      {
        "type": "text",
        "id": "chain_stay_length_low_L",
        "label": "Chain Stay Length L",
        "default": "484 mm"
      },
      {
        "type": "text",
        "id": "bottom_bracket_drop_low",
        "label": "Bottom Bracket Drop",
        "default": "60 mm"
      },
      {
        "type": "text",
        "id": "bottom_bracket_drop_low_L",
        "label": "Bottom Bracket Drop L",
        "default": "60 mm"
      },
      {
        "type": "text",
        "id": "wheelbase_low",
        "label": "Wheelbase",
        "default": "1162"
      },
      {
        "type": "text",
        "id": "wheelbase_low_L",
        "label": "Wheelbase L",
        "default": "1201"
      },
      {
        "type": "text",
        "id": "stack_low",
        "label": "Stack",
        "default": "637 mm"
      },
      {
        "type": "text",
        "id": "stack_low_L",
        "label": "Stack L",
        "default": "647 mm"
      },
      {
        "type": "text",
        "id": "reach_low",
        "label": "Reach",
        "default": "408 mm"
      },
      {
        "type": "text",
        "id": "reach_low_L",
        "label": "Reach L",
        "default": "443 mm"
      },
      {
        "type": "text",
        "id": "standover_height_low",
        "label": "Standover Height",
        "default": "720"
      },
      {
        "type": "text",
        "id": "standover_height_low_L",
        "label": "Standover Height L",
        "default": "720"
      },
      {
        "type": "text",
        "id": "seat_height_min_low",
        "label": "Seat Height Min",
        "default": "850"
      },
      {
        "type": "text",
        "id": "seat_height_min_low_L",
        "label": "Seat Height Min L",
        "default": "850"
      },
      {
        "type": "text",
        "id": "seat_height_max_low",
        "label": "Seat Height Max",
        "default": "1000"
      },
      {
        "type": "text",
        "id": "seat_height_max_low_L",
        "label": "Seat Height Max L",
        "default": "1000"
      }
      ]
    },
    {
      "type": "high_step",
      "name": "High Step",
      "settings": [
        {
          "type": "image_picker",
          "id": "high_step_image",
          "label": "High Step Image"
        },
        {
          "type": "text",
          "id": "frame_height_high",
          "label": "Frame Height",
          "default": "490 mm"
        },
        {
          "type": "text",
          "id": "frame_height_high_L",
          "label": "Frame Height L",
          "default": "520 mm"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high",
          "label": "Seat Tube Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high_L",
          "label": "Seat Tube Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "fork_offset_high",
          "label": "Fork Offset",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_high_L",
          "label": "Fork Offset L",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "seat_angle_high",
          "label": "Seat Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_high_L",
          "label": "Seat Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "head_tube_length_high",
          "label": "Head Tube Length",
          "default": "160 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_high_L",
          "label": "Head Tube Length L",
          "default": "170 mm"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high",
          "label": "Head Tube Angle",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high_L",
          "label": "Head Tube Angle L",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high",
          "label": "Top Tube Horizontal",
          "default": "591 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high_L",
          "label": "Top Tube Horizontal L",
          "default": "629 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high",
          "label": "Chain Stay Length",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high_L",
          "label": "Chain Stay Length_L",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high",
          "label": "Bottom Bracket Drop",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high_L",
          "label": "Bottom Bracket Drop L",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_high",
          "label": "Wheelbase",
          "default": "1162"
        },
        {
          "type": "text",
          "id": "wheelbase_high_L",
          "label": "Wheelbase L",
          "default": "1201"
        },
        {
          "type": "text",
          "id": "stack_high",
          "label": "Stack",
          "default": "637 mm"
        },
        {
          "type": "text",
          "id": "stack_high_L",
          "label": "Stack L",
          "default": "647 mm"
        },
        {
          "type": "text",
          "id": "reach_high",
          "label": "Reach",
          "default": "408 mm"
        },
        {
          "type": "text",
          "id": "reach_high_L",
          "label": "Reach L",
          "default": "443 mm"
        },
        {
          "type": "text",
          "id": "standover_height_high",
          "label": "Standover Height",
          "default": "760"
        },
        {
          "type": "text",
          "id": "standover_height_high_L",
          "label": "Standover Height L",
          "default": "780"
        },
        {
          "type": "text",
          "id": "seat_height_min_high",
          "label": "Seat Height Min",
          "default": "860"
        },
        {
          "type": "text",
          "id": "seat_height_min_high_L",
          "label": "Seat Height Min L",
          "default": "890"
        },
        {
          "type": "text",
          "id": "seat_height_max_high",
          "label": "Seat Height Max",
          "default": "1050"
        },
        {
          "type": "text",
          "id": "seat_height_max_high_L",
          "label": "Seat Height Max L",
          "default": "1080"
        }
      ]
    },
    {
      "type": "high_step2",
      "name": "High Step 2",
      "settings": [
        {
          "type": "image_picker",
          "id": "high_step_image",
          "label": "High Step Image"
        },
        {
          "type": "text",
          "id": "frame_height_high",
          "label": "Frame Height",
          "default": "490 mm"
        },
        {
          "type": "text",
          "id": "frame_height_high_L",
          "label": "Frame Height L",
          "default": "520 mm"
        },
        {
          "type": "text",
          "id": "frame_height_high_XL",
          "label": "Frame Height XL",
          "default": "560 mm"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high",
          "label": "Seat Tube Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high_L",
          "label": "Seat Tube Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high_XL",
          "label": "Seat Tube Angle XL",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "fork_offset_high",
          "label": "Fork Offset",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_high_L",
          "label": "Fork Offset L",
          "default": "43 mm"
        },
         {
          "type": "text",
          "id": "fork_offset_high_XL",
          "label": "Fork Offset XL",
          "default": "43 mm"
        },
        {
          "type": "text",
          "id": "seat_angle_high",
          "label": "Seat Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_high_L",
          "label": "Seat Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_high_XL",
          "label": "Seat Angle XL",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "head_tube_length_high",
          "label": "Head Tube Length",
          "default": "160 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_high_L",
          "label": "Head Tube Length L",
          "default": "170 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_high_XL",
          "label": "Head Tube Length XL",
          "default": "173 mm"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high",
          "label": "Head Tube Angle",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high_L",
          "label": "Head Tube Angle L",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high_XL",
          "label": "Head Tube Angle XL",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high",
          "label": "Top Tube Horizontal",
          "default": "591 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high_L",
          "label": "Top Tube Horizontal L",
          "default": "629 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high_XL",
          "label": "Top Tube Horizontal XL",
          "default": "670 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high",
          "label": "Chain Stay Length",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high_L",
          "label": "Chain Stay Length_L",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high_XL",
          "label": "Chain Stay Length_XL",
          "default": "484 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high",
          "label": "Bottom Bracket Drop",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high_L",
          "label": "Bottom Bracket Drop L",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high_XL",
          "label": "Bottom Bracket Drop XL",
          "default": "60 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_high",
          "label": "Wheelbase",
          "default": "1162"
        },
        {
          "type": "text",
          "id": "wheelbase_high_L",
          "label": "Wheelbase L",
          "default": "1201"
        },
        {
          "type": "text",
          "id": "wheelbase_high_XL",
          "label": "Wheelbase XL",
          "default": "1242"
        },
        {
          "type": "text",
          "id": "stack_high",
          "label": "Stack",
          "default": "637 mm"
        },
        {
          "type": "text",
          "id": "stack_high_L",
          "label": "Stack L",
          "default": "647 mm"
        },
         {
          "type": "text",
          "id": "stack_high_XL",
          "label": "Stack XL",
          "default": "653 mm"
        },
        {
          "type": "text",
          "id": "reach_high",
          "label": "Reach",
          "default": "408 mm"
        },
        {
          "type": "text",
          "id": "reach_high_L",
          "label": "Reach L",
          "default": "443 mm"
        },
        {
          "type": "text",
          "id": "reach_high_XL",
          "label": "Reach XL",
          "default": "482 mm"
        },
        {
          "type": "text",
          "id": "standover_height_high",
          "label": "Standover Height",
          "default": "760"
        },
        {
          "type": "text",
          "id": "standover_height_high_L",
          "label": "Standover Height L",
          "default": "780"
        },
        {
          "type": "text",
          "id": "standover_height_high_XL",
          "label": "Standover Height XL",
          "default": "780"
        },
        {
          "type": "text",
          "id": "seat_height_min_high",
          "label": "Seat Height Min",
          "default": "860"
        },
        {
          "type": "text",
          "id": "seat_height_min_high_L",
          "label": "Seat Height Min L",
          "default": "890"
        },
        {
          "type": "text",
          "id": "seat_height_min_high_XL",
          "label": "Seat Height Min XL",
          "default": "890"
        },
        {
          "type": "text",
          "id": "seat_height_max_high",
          "label": "Seat Height Max",
          "default": "1050"
        },
        {
          "type": "text",
          "id": "seat_height_max_high_L",
          "label": "Seat Height Max L",
          "default": "1080"
        },
        {
          "type": "text",
          "id": "seat_height_max_high_XL",
          "label": "Seat Height Max XL",
          "default": "1080"
        }
      ]
    },
    {
      "type": "mountain",
      "name": "mountain",
      "settings": [
        {
          "type": "image_picker",
          "id": "mountain_image",
          "label": "Mountain Image"
        },
        {
          "type": "text",
          "id": "frame_height_high",
          "label": "Frame Height",
          "default": "450 mm"
        },
        {
          "type": "text",
          "id": "frame_height_high_L",
          "label": "Frame Height L",
          "default": "490 mm"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high",
          "label": "Seat Tube Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high_L",
          "label": "Seat Tube Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "fork_offset_high",
          "label": "Fork Offset",
          "default": "51 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_high_L",
          "label": "Fork Offset L",
          "default": "51 mm"
        },
        {
          "type": "text",
          "id": "seat_angle_high",
          "label": "Seat Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_angle_high_L",
          "label": "Seat Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "head_tube_length_high",
          "label": "Head Tube Length",
          "default": "125 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_high_L",
          "label": "Head Tube Length L",
          "default": "132 mm"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high",
          "label": "Head Tube Angle",
          "default": "67.5°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high_L",
          "label": "Head Tube Angle L",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high",
          "label": "Top Tube Horizontal",
          "default": "614 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high_L",
          "label": "Top Tube Horizontal L",
          "default": "631 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high",
          "label": "Chain Stay Length",
          "default": "465 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high_L",
          "label": "Chain Stay Length_L",
          "default": "465 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high",
          "label": "Bottom Bracket Drop",
          "default": "65 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high_L",
          "label": "Bottom Bracket Drop L",
          "default": "65 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_high",
          "label": "Wheelbase",
          "default": "1206"
        },
        {
          "type": "text",
          "id": "wheelbase_high_L",
          "label": "Wheelbase L",
          "default": "1218"
        },
        {
          "type": "text",
          "id": "stack_high",
          "label": "Stack",
          "default": "652 mm"
        },
        {
          "type": "text",
          "id": "stack_high_L",
          "label": "Stack L",
          "default": "661 mm"
        },
        {
          "type": "text",
          "id": "reach_high",
          "label": "Reach",
          "default": "448 mm"
        },
        {
          "type": "text",
          "id": "reach_high_L",
          "label": "Reach L",
          "default": "463 mm"
        },
        {
          "type": "text",
          "id": "standover_height_high",
          "label": "Standover Height",
        },
        {
          "type": "text",
          "id": "standover_height_high_L",
          "label": "Standover Height L",
        },
        {
          "type": "text",
          "id": "seat_height_min_high",
          "label": "Seat Height Min",
        },
        {
          "type": "text",
          "id": "seat_height_min_high_L",
          "label": "Seat Height Min L",
        },
        {
          "type": "text",
          "id": "seat_height_max_high",
          "label": "Seat Height Max",
        },
        {
          "type": "text",
          "id": "seat_height_max_high_L",
          "label": "Seat Height Max L",
        }
      ]
    },
    {
      "type": "carbon",
      "name": "carbon",
      "settings": [
        {
          "type": "image_picker",
          "id": "carbon_image",
          "label": "Carbon Image"
        },
        {
          "type": "text",
          "id": "frame_height_high",
          "label": "Frame Height",
          "default": "440 mm"
        },
        {
          "type": "text",
          "id": "frame_height_high_L",
          "label": "Frame Height L",
          "default": "480 mm"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high",
          "label": "Seat Tube Angle",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "seat_tube_angle_high_L",
          "label": "Seat Tube Angle L",
          "default": "74°"
        },
        {
          "type": "text",
          "id": "fork_offset_high",
          "label": "Fork Offset",
          "default": "66 mm"
        },
        {
          "type": "text",
          "id": "fork_offset_high_L",
          "label": "Fork Offset L",
          "default": "66 mm"
        },
        {
          "type": "text",
          "id": "seat_angle_high",
          "label": "Seat Angle",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "seat_angle_high_L",
          "label": "Seat Angle L",
          "default": "68.5°"
        },
        {
          "type": "text",
          "id": "head_tube_length_high",
          "label": "Head Tube Length",
          "default": "110 mm"
        },
        {
          "type": "text",
          "id": "head_tube_length_high_L",
          "label": "Head Tube Length L",
          "default": "124 mm"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high",
          "label": "Head Tube Angle",
          "default": "66°"
        },
        {
          "type": "text",
          "id": "head_tube_angle_high_L",
          "label": "Head Tube Angle L",
          "default": "66°"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high",
          "label": "Top Tube Horizontal",
          "default": "632 mm"
        },
        {
          "type": "text",
          "id": "top_tube_horizontal_high_L",
          "label": "Top Tube Horizontal L",
          "default": "655 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high",
          "label": "Chain Stay Length",
          "default": "458 mm"
        },
        {
          "type": "text",
          "id": "chain_stay_length_high_L",
          "label": "Chain Stay Length_L",
          "default": "458 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high",
          "label": "Bottom Bracket Drop",
          "default": "20 mm"
        },
        {
          "type": "text",
          "id": "bottom_bracket_drop_high_L",
          "label": "Bottom Bracket Drop L",
          "default": "20 mm"
        },
        {
          "type": "text",
          "id": "wheelbase_high",
          "label": "Wheelbase",
          "default": "1225"
        },
        {
          "type": "text",
          "id": "wheelbase_high_L",
          "label": "Wheelbase L",
          "default": "1249"
        },
        {
          "type": "text",
          "id": "stack_high",
          "label": "Stack",
          "default": "618 mm"
        },
        {
          "type": "text",
          "id": "stack_high_L",
          "label": "Stack L",
          "default": "627 mm"
        },
        {
          "type": "text",
          "id": "reach_high",
          "label": "Reach",
          "default": "455 mm"
        },
        {
          "type": "text",
          "id": "reach_high_L",
          "label": "Reach L",
          "default": "475 mm"
        },
        {
          "type": "text",
          "id": "standover_height_high",
          "label": "Standover Height",
        },
        {
          "type": "text",
          "id": "standover_height_high_L",
          "label": "Standover Height L",
        },
        {
          "type": "text",
          "id": "seat_height_min_high",
          "label": "Seat Height Min",
        },
        {
          "type": "text",
          "id": "seat_height_min_high_L",
          "label": "Seat Height Min L",
        },
        {
          "type": "text",
          "id": "seat_height_max_high",
          "label": "Seat Height Max",
        },
        {
          "type": "text",
          "id": "seat_height_max_high_L",
          "label": "Seat Height Max L",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Size Tabs",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<div class="product-content-section" id="frame_geometry">
  <h2 class="explore-title" data-localize="{{ section.settings.title }}">{{ 'ebike.frame_geometry' | t }}</h2>
  <div class="custom-size-tabs" role="tablist">
    <div class="tab-item-size active" role="tab" data-target="framesize"> {{ 'ebike.frame_size' | t }} </div>
    {% for block in section.blocks %}
    {% if block.type == 'step_through' %}
        <div class="tab-item-size" role="tab" data-target="stepthrough">Step Through</div>
      {% endif %}
      {% if block.type == 'low_step' %}
        <div class="tab-item-size" role="tab" data-target="lowstep">Low Step</div>
      {% endif %}
      {% if block.type == 'high_step' %}
        <div class="tab-item-size" role="tab" data-target="highstep">High Step</div>
      {% endif %}
      {% if block.type == 'high_step2' %}
        <div class="tab-item-size" role="tab" data-target="highstep2">High Step</div>
      {% endif %}
      {% if block.type == 'mountain' %}
        <div class="tab-item-size" role="tab" data-target="mountain">{{ 'ebike.geometry' | t }}</div>
      {% endif %}
       {% if block.type == 'carbon' %}
        <div class="tab-item-size" role="tab" data-target="carbon">{{ 'ebike.geometry' | t }}</div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="tab-content-area">
    <div id="framesize" class="sizetab-panel active" role="tabpanel"
      style="background-image: url({{ section.settings.background_image | img_url: '2048x2048'}});">
      <div class="size-columns"></div>
    </div>

    <div id="stepthrough" class="sizetab-panel" role="tabpanel">
      <div class="sizechart-two-column-layout">
      {% for block in section.blocks %}
        {% if block.type == 'step_through' %}
        <div class="sizechart-column">
          <img src="{{ block.settings.step_through_image | img_url: 'original' }}" alt="Step Through Frame" style="width: 100%;">
        </div>
        <div class="sizechart-column">
       <table class="pf-inner-table" id="lowstep-table" style="width: 100%;">
    <thead>
        <tr>
            <th>No.</th>
            <th>{{ 'ebike.name' | t }}</th>
            {%- if block.settings.frame_height_low_S != blank -%}
            <th>S</th>
            {% endif %}
            <th>M</th>
            <th>L</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>{{ 'ebike.frame_height' | t }}</td>
            {%- if block.settings.frame_height_low_S != blank -%}
            <td>{{ block.settings.frame_height_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.frame_height_low }}</td>
            <td>{{ block.settings.frame_height_low_L }}</td>
        </tr>
        <tr>
            <td>B</td>
            <td>{{ 'ebike.seat_tube_angle' | t }}</td>
            {%- if block.settings.seat_tube_angle_low_S != blank -%}
            <td>{{ block.settings.seat_tube_angle_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.seat_tube_angle_low }}</td>
            <td>{{ block.settings.seat_tube_angle_low_L }}</td>
        </tr>
        <tr>
            <td>C</td>
            <td>{{ 'ebike.fork_offset' | t }}</td>
            {%- if block.settings.fork_offset_low_S != blank -%}
            <td>{{ block.settings.fork_offset_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.fork_offset_low }}</td>
            <td>{{ block.settings.fork_offset_low_L }}</td>
        </tr>
        <tr>
            <td>D</td>
            <td>{{ 'ebike.seat_angle' | t }}</td>
            {%- if block.settings.seat_angle_low_S != blank -%}
            <td>{{ block.settings.seat_angle_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.seat_angle_low }}</td>
            <td>{{ block.settings.seat_angle_low_L }}</td>
        </tr>
        <tr>
            <td>E</td>
            <td>{{ 'ebike.head_tube_length' | t }}</td>
            {%- if block.settings.head_tube_length_low_S != blank -%}
            <td>{{ block.settings.head_tube_length_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.head_tube_length_low }}</td>
            <td>{{ block.settings.head_tube_length_low_L }}</td>
        </tr>
        <tr>
            <td>F</td>
            <td>{{ 'ebike.head_tube_angle' | t }}</td>
            {%- if block.settings.head_tube_angle_low_S != blank -%}
            <td>{{ block.settings.head_tube_angle_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.head_tube_angle_low }}</td>
            <td>{{ block.settings.head_tube_angle_low_L }}</td>
        </tr>
        <tr>
            <td>G</td>
            <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
            {%- if block.settings.top_tube_horizontal_low_S != blank -%}
            <td>{{ block.settings.top_tube_horizontal_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.top_tube_horizontal_low }}</td>
            <td>{{ block.settings.top_tube_horizontal_low_L }}</td>
        </tr>
        <tr>
            <td>H</td>
            <td>{{ 'ebike.chain_stay_length' | t }}</td>
            {%- if block.settings.chain_stay_length_low_S != blank -%}
            <td>{{ block.settings.chain_stay_length_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.chain_stay_length_low }}</td>
            <td>{{ block.settings.chain_stay_length_low_L }}</td>
        </tr>
        <tr>
            <td>I</td>
            <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
            {%- if block.settings.bottom_bracket_drop_low_S != blank -%}
            <td>{{ block.settings.bottom_bracket_drop_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.bottom_bracket_drop_low }}</td>
            <td>{{ block.settings.bottom_bracket_drop_low_L }}</td>
        </tr>
        <tr>
            <td>J</td>
            <td>{{ 'ebike.wheelbase' | t }}</td>
            {%- if block.settings.wheelbase_low_S != blank -%}
            <td>{{ block.settings.wheelbase_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.wheelbase_low }}</td>
            <td>{{ block.settings.wheelbase_low_L }}</td>
        </tr>
        <tr>
            <td>K</td>
            <td>{{ 'ebike.stack' | t }}</td>
            {%- if block.settings.stack_low_S != blank -%}
            <td>{{ block.settings.stack_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.stack_low }}</td>
            <td>{{ block.settings.stack_low_L }}</td>
        </tr>
        <tr>
            <td>L</td>
            <td>{{ 'ebike.reach' | t }}</td>
            {%- if block.settings.reach_low_S != blank -%}
            <td>{{ block.settings.reach_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.reach_low }}</td>
            <td>{{ block.settings.reach_low_L }}</td>
        </tr>
        <tr>
            <td>M</td>
            <td>{{ 'ebike.standover_height' | t }}</td>
            {%- if block.settings.standover_height_low_S != blank -%}
            <td>{{ block.settings.standover_height_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.standover_height_low }}</td>
            <td>{{ block.settings.standover_height_low_L }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ 'ebike.seat_height_min' | t }}</td>
            {%- if block.settings.seat_height_min_low_S != blank -%}
            <td>{{ block.settings.seat_height_min_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.seat_height_min_low }}</td>
            <td>{{ block.settings.seat_height_min_low_L }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ 'ebike.seat_height_max' | t }}</td>
            {%- if block.settings.seat_height_max_low_S != blank -%}
            <td>{{ block.settings.seat_height_max_low_S }}</td>
            {% endif %}
            <td>{{ block.settings.seat_height_max_low }}</td>
            <td>{{ block.settings.seat_height_max_low_L }}</td>
        </tr>
    </tbody>
</table>

        </div>
        {% endif %}
      {% endfor %}
       
      </div>
    </div>

    <div id="lowstep" class="sizetab-panel" role="tabpanel">
      <div class="sizechart-two-column-layout">
      {% for block in section.blocks %}
        {% if block.type == 'low_step' %}
        <div class="sizechart-column">
          <img src="{{ block.settings.low_step_image | img_url: 'original' }}" alt="Low Step Frame" style="width: 100%;">
        </div>
        <div class="sizechart-column">
          <table class="pf-inner-table" id="lowstep-table" style="width: 100%;">
            <thead>
              <tr>
                <th>No.</th>
                <th>{{ 'ebike.name' | t }}</th>
                <th>M</th>
                <th>L</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A</td>
                <td>{{ 'ebike.frame_height' | t }}</td>
                <td>{{ block.settings.frame_height_low }}</td>
                <td>{{ block.settings.frame_height_low_L }}</td>
              </tr>
              <tr>
                <td>B</td>
                <td>{{ 'ebike.seat_tube_angle' | t }}</td>
                <td>{{ block.settings.seat_tube_angle_low }}</td>
                <td>{{ block.settings.seat_tube_angle_low_L }}</td>
              </tr>
              <tr>
                <td>C</td>
                <td>{{ 'ebike.fork_offset' | t }}</td>
                <td>{{ block.settings.fork_offset_low }}</td>
                <td>{{ block.settings.fork_offset_low_L }}</td>
              </tr>
              <tr>
                <td>D</td>
                <td>{{ 'ebike.seat_angle' | t }}</td>
                <td>{{ block.settings.seat_angle_low }}</td>
                <td>{{ block.settings.seat_angle_low_L }}</td>
              </tr>
              <tr>
                <td>E</td>
                <td>{{ 'ebike.head_tube_length' | t }}</td>
                <td>{{ block.settings.head_tube_length_low }}</td>
                <td>{{ block.settings.head_tube_length_low_L }}</td>
              </tr>
              <tr>
                <td>F</td>
                <td>{{ 'ebike.head_tube_angle' | t }}</td>
                <td>{{ block.settings.head_tube_angle_low }}</td>
                <td>{{ block.settings.head_tube_angle_low_L }}</td>
              </tr>
              <tr>
                <td>G</td>
                <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
                <td>{{ block.settings.top_tube_horizontal_low }}</td>
                <td>{{ block.settings.top_tube_horizontal_low_L }}</td>
              </tr>
              <tr>
                <td>H</td>
                <td>{{ 'ebike.chain_stay_length' | t }}</td>
                <td>{{ block.settings.chain_stay_length_low }}</td>
                <td>{{ block.settings.chain_stay_length_low_L }}</td>
              </tr>
              <tr>
                <td>I</td>
                <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
                <td>{{ block.settings.bottom_bracket_drop_low }}</td>
                <td>{{ block.settings.bottom_bracket_drop_low_L }}</td>
              </tr>
              <tr>
                <td>J</td>
                <td>{{ 'ebike.wheelbase' | t }}</td>
                <td>{{ block.settings.wheelbase_low }}</td>
                <td>{{ block.settings.wheelbase_low_L }}</td>
              </tr>
              <tr>
                <td>K</td>
                <td>{{ 'ebike.stack' | t }}</td>
                <td>{{ block.settings.stack_low }}</td>
                <td>{{ block.settings.stack_low_L }}</td>
              </tr>
              <tr>
                <td>L</td>
                <td>{{ 'ebike.reach' | t }}</td>
                <td>{{ block.settings.reach_low }}</td>
                <td>{{ block.settings.reach_low_L }}</td>
              </tr>
              <tr>
                <td>M</td>
                <td>{{ 'ebike.standover_height' | t }}</td>
                <td>{{ block.settings.standover_height_low }}</td>
                <td>{{ block.settings.standover_height_low_L }}</td>
              </tr>
              <tr>
                <td></td>
                <td>{{ 'ebike.seat_height_min' | t }}</td>
                <td>{{ block.settings.seat_height_min_low }}</td>
                <td>{{ block.settings.seat_height_min_low_L }}</td>
              </tr>
              <tr>
               <td></td>
                <td>{{ 'ebike.seat_height_max' | t }}</td>
                <td>{{ block.settings.seat_height_max_low }}</td>
                <td>{{ block.settings.seat_height_max_low_L }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      {% endfor %}
       
      </div>
    </div>

     <div id="highstep" class="sizetab-panel" role="tabpanel">
      <div class="sizechart-two-column-layout">
        {% for block in section.blocks %}
            {% if block.type == 'high_step' %}
            <div class="sizechart-column">
              <img src="{{ block.settings.high_step_image | img_url: 'original' }}" alt="High Step Frame" style="width: 100%;">
              </div>
              <div class="sizechart-column">
                <table class="pf-inner-table" id="highstep-table" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>{{ 'ebike.name' | t }}</th>
                      <th>M</th>
                      <th>L</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>A</td>
                      <td>{{ 'ebike.frame_height' | t }}</td>
                      <td>{{ block.settings.frame_height_high }}</td>
                      <td>{{ block.settings.frame_height_high_L }}</td>
                    </tr>
                    <tr>
                      <td>B</td>
                      <td>{{ 'ebike.seat_tube_angle' | t }}</td>
                      <td>{{ block.settings.seat_tube_angle_high }}</td>
                      <td>{{ block.settings.seat_tube_angle_high_L }}</td>
                    </tr>
                    <tr>
                      <td>C</td>
                      <td>{{ 'ebike.fork_offset' | t }}</td>
                      <td>{{ block.settings.fork_offset_high }}</td>
                      <td>{{ block.settings.fork_offset_high_L }}</td>
                    </tr>
                    <tr>
                      <td>D</td>
                      <td>{{ 'ebike.seat_angle' | t }}</td>
                      <td>{{ block.settings.seat_angle_high }}</td>
                      <td>{{ block.settings.seat_angle_high_L }}</td>
                    </tr>
                    <tr>
                      <td>E</td>
                      <td>{{ 'ebike.head_tube_length' | t }}</td>
                      <td>{{ block.settings.head_tube_length_high }}</td>
                      <td>{{ block.settings.head_tube_length_high_L }}</td>
                    </tr>
                    <tr>
                      <td>F</td>
                      <td>{{ 'ebike.head_tube_angle' | t }}</td>
                      <td>{{ block.settings.head_tube_angle_high }}</td>
                      <td>{{ block.settings.head_tube_angle_high_L }}</td>
                    </tr>
                    <tr>
                      <td>G</td>
                      <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
                      <td>{{ block.settings.top_tube_horizontal_high }}</td>
                      <td>{{ block.settings.top_tube_horizontal_high_L }}</td>
                    </tr>
                    <tr>
                      <td>H</td>
                      <td>{{ 'ebike.chain_stay_length' | t }}</td>
                      <td>{{ block.settings.chain_stay_length_high }}</td>
                      <td>{{ block.settings.chain_stay_length_high_L }}</td>
                    </tr>
                    <tr>
                      <td>I</td>
                      <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
                      <td>{{ block.settings.bottom_bracket_drop_high }}</td>
                      <td>{{ block.settings.bottom_bracket_drop_high_L }}</td>
                    </tr>
                    <tr>
                      <td>J</td>
                      <td>{{ 'ebike.wheelbase' | t }}</td>
                      <td>{{ block.settings.wheelbase_high }}</td>
                      <td>{{ block.settings.wheelbase_high_L }}</td>
                    </tr>
                    <tr>
                      <td>K</td>
                      <td>{{ 'ebike.stack' | t }}</td>
                      <td>{{ block.settings.stack_high }}</td>
                      <td>{{ block.settings.stack_high_L }}</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>{{ 'ebike.reach' | t }}</td>
                      <td>{{ block.settings.reach_high }}</td>
                      <td>{{ block.settings.reach_high_L }}</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td>{{ 'ebike.standover_height' | t }}</td>
                      <td>{{ block.settings.standover_height_high }}</td>
                      <td>{{ block.settings.standover_height_high_L }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ 'ebike.seat_height_min' | t }}</td>
                      <td>{{ block.settings.seat_height_min_high }}</td>
                      <td>{{ block.settings.seat_height_min_high_L }}</td>
                    </tr>
                    <tr>
                     <td></td>
                      <td>{{ 'ebike.seat_height_max' | t }}</td>
                      <td>{{ block.settings.seat_height_max_high }}</td>
                      <td>{{ block.settings.seat_height_max_high_L }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id="highstep2" class="sizetab-panel" role="tabpanel">
      <div class="sizechart-two-column-layout">
        {% for block in section.blocks %}
            {% if block.type == 'high_step2' %}
            <div class="sizechart-column">
              <img src="{{ block.settings.high_step_image | img_url: 'original' }}" alt="High Step Frame" style="width: 100%;">
              </div>
              <div class="sizechart-column">
                <table class="pf-inner-table" id="highstep-table" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>{{ 'ebike.name' | t }}</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>A</td>
                      <td>{{ 'ebike.frame_height' | t }}</td>
                      <td>{{ block.settings.frame_height_high }}</td>
                      <td>{{ block.settings.frame_height_high_L }}</td>
                      <td>{{ block.settings.frame_height_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>B</td>
                      <td>{{ 'ebike.seat_tube_angle' | t }}</td>
                      <td>{{ block.settings.seat_tube_angle_high }}</td>
                      <td>{{ block.settings.seat_tube_angle_high_L }}</td>
                       <td>{{ block.settings.seat_tube_angle_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>C</td>
                      <td>{{ 'ebike.fork_offset' | t }}</td>
                      <td>{{ block.settings.fork_offset_high }}</td>
                      <td>{{ block.settings.fork_offset_high_L }}</td>
                      <td>{{ block.settings.fork_offset_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>D</td>
                      <td>{{ 'ebike.seat_angle' | t }}</td>
                      <td>{{ block.settings.seat_angle_high }}</td>
                      <td>{{ block.settings.seat_angle_high_L }}</td>
                      <td>{{ block.settings.seat_angle_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>E</td>
                      <td>{{ 'ebike.head_tube_length' | t }}</td>
                      <td>{{ block.settings.head_tube_length_high }}</td>
                      <td>{{ block.settings.head_tube_length_high_L }}</td>
                       <td>{{ block.settings.head_tube_length_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>F</td>
                      <td>{{ 'ebike.head_tube_angle' | t }}</td>
                      <td>{{ block.settings.head_tube_angle_high }}</td>
                      <td>{{ block.settings.head_tube_angle_high_L }}</td>
                      <td>{{ block.settings.head_tube_angle_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>G</td>
                      <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
                      <td>{{ block.settings.top_tube_horizontal_high }}</td>
                      <td>{{ block.settings.top_tube_horizontal_high_L }}</td>
                      <td>{{ block.settings.top_tube_horizontal_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>H</td>
                      <td>{{ 'ebike.chain_stay_length' | t }}</td>
                      <td>{{ block.settings.chain_stay_length_high }}</td>
                      <td>{{ block.settings.chain_stay_length_high_L }}</td>
                        <td>{{ block.settings.chain_stay_length_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>I</td>
                      <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
                      <td>{{ block.settings.bottom_bracket_drop_high }}</td>
                      <td>{{ block.settings.bottom_bracket_drop_high_L }}</td>
                       <td>{{ block.settings.bottom_bracket_drop_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>J</td>
                      <td>{{ 'ebike.wheelbase' | t }}</td>
                      <td>{{ block.settings.wheelbase_high }}</td>
                      <td>{{ block.settings.wheelbase_high_L }}</td>
                      <td>{{ block.settings.wheelbase_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>K</td>
                      <td>{{ 'ebike.stack' | t }}</td>
                      <td>{{ block.settings.stack_high }}</td>
                      <td>{{ block.settings.stack_high_L }}</td>
                       <td>{{ block.settings.stack_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>{{ 'ebike.reach' | t }}</td>
                      <td>{{ block.settings.reach_high }}</td>
                      <td>{{ block.settings.reach_high_L }}</td>
                      <td>{{ block.settings.reach_high_XL }}</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td>{{ 'ebike.standover_height' | t }}</td>
                      <td>{{ block.settings.standover_height_high }}</td>
                      <td>{{ block.settings.standover_height_high_L }}</td>
                       <td>{{ block.settings.standover_height_high_XL }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ 'ebike.seat_height_min' | t }}</td>
                      <td>{{ block.settings.seat_height_min_high }}</td>
                      <td>{{ block.settings.seat_height_min_high_L }}</td>
                      <td>{{ block.settings.seat_height_min_high_XL }}</td>
                    </tr>
                    <tr>
                     <td></td>
                      <td>{{ 'ebike.seat_height_max' | t }}</td>
                      <td>{{ block.settings.seat_height_max_high }}</td>
                      <td>{{ block.settings.seat_height_max_high_L }}</td>
                      <td>{{ block.settings.seat_height_max_high_XL }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>

   <div id="mountain" class="sizetab-panel" role="tabpanel">
  <div class="sizechart-two-column-layout">
    {% for block in section.blocks %}
      {% if block.type == 'mountain' %}
      <div class="sizechart-column">
        <img src="{{ block.settings.mountain_image | img_url: 'original' }}" alt="Mountain Frame" style="width: 100%;">
      </div>
      <div class="sizechart-column">
        <table class="pf-inner-table" id="mountain-table" style="width: 100%;">
          <thead>
            <tr>
              <th>No.</th>
              <th>{{ 'ebike.name' | t }}</th>
              <th>M</th>
              <th>L</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A</td>
              <td>{{ 'ebike.frame_height' | t }}</td>
              <td>{{ block.settings.frame_height_high }}</td>
              <td>{{ block.settings.frame_height_high_L }}</td>
            </tr>
            <tr>
              <td>B</td>
              <td>{{ 'ebike.seat_tube_angle' | t }}</td>
              <td>{{ block.settings.seat_tube_angle_high }}</td>
              <td>{{ block.settings.seat_tube_angle_high_L }}</td>
            </tr>
            <tr>
              <td>C</td>
              <td>{{ 'ebike.fork_offset' | t }}</td>
              <td>{{ block.settings.fork_offset_high }}</td>
              <td>{{ block.settings.fork_offset_high_L }}</td>
            </tr>
            <tr>
              <td>D</td>
              <td>{{ 'ebike.seat_angle' | t }}</td>
              <td>{{ block.settings.seat_angle_high }}</td>
              <td>{{ block.settings.seat_angle_high_L }}</td>
            </tr>
            <tr>
              <td>E</td>
              <td>{{ 'ebike.head_tube_length' | t }}</td>
              <td>{{ block.settings.head_tube_length_high }}</td>
              <td>{{ block.settings.head_tube_length_high_L }}</td>
            </tr>
            <tr>
              <td>F</td>
              <td>{{ 'ebike.head_tube_angle' | t }}</td>
              <td>{{ block.settings.head_tube_angle_high }}</td>
              <td>{{ block.settings.head_tube_angle_high_L }}</td>
            </tr>
            <tr>
              <td>G</td>
              <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
              <td>{{ block.settings.top_tube_horizontal_high }}</td>
              <td>{{ block.settings.top_tube_horizontal_high_L }}</td>
            </tr>
            <tr>
              <td>H</td>
              <td>{{ 'ebike.chain_stay_length' | t }}</td>
              <td>{{ block.settings.chain_stay_length_high }}</td>
              <td>{{ block.settings.chain_stay_length_high_L }}</td>
            </tr>
            <tr>
              <td>I</td>
              <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
              <td>{{ block.settings.bottom_bracket_drop_high }}</td>
              <td>{{ block.settings.bottom_bracket_drop_high_L }}</td>
            </tr>
            <tr>
              <td>J</td>
              <td>{{ 'ebike.wheelbase' | t }}</td>
              <td>{{ block.settings.wheelbase_high }}</td>
              <td>{{ block.settings.wheelbase_high_L }}</td>
            </tr>
            <tr>
              <td>K</td>
              <td>{{ 'ebike.stack' | t }}</td>
              <td>{{ block.settings.stack_high }}</td>
              <td>{{ block.settings.stack_high_L }}</td>
            </tr>
            <tr>
              <td>L</td>
              <td>{{ 'ebike.reach' | t }}</td>
              <td>{{ block.settings.reach_high }}</td>
              <td>{{ block.settings.reach_high_L }}</td>
            </tr>
            <tr>
              <td>M</td>
              <td>{{ 'ebike.standover_height' | t }}</td>
              <td>{{ block.settings.standover_height_high }}</td>
              <td>{{ block.settings.standover_height_high_L }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{ 'ebike.seat_height_min' | t }}</td>
              <td>{{ block.settings.seat_height_min_high }}</td>
              <td>{{ block.settings.seat_height_min_high_L }}</td>
            </tr>
            <tr>
             <td></td>
              <td>{{ 'ebike.seat_height_max' | t }}</td>
              <td>{{ block.settings.seat_height_max_high }}</td>
              <td>{{ block.settings.seat_height_max_high_L }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    {% endfor %}
    </div>
</div>

<div id="carbon" class="sizetab-panel" role="tabpanel">
  <div class="sizechart-two-column-layout">
    {% for block in section.blocks %}
      {% if block.type == 'carbon' %}
      <div class="sizechart-column">
        <img src="{{ block.settings.carbon_image | img_url: 'original' }}" alt="Carbon Frame" style="width: 100%;">
      </div>
      <div class="sizechart-column">
        <table class="pf-inner-table" id="carbon-table" style="width: 100%;">
          <thead>
            <tr>
              <th>No.</th>
              <th>{{ 'ebike.name' | t }}</th>
              <th>M</th>
              <th>L</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A</td>
              <td>{{ 'ebike.frame_height' | t }}</td>
              <td>{{ block.settings.frame_height_high }}</td>
              <td>{{ block.settings.frame_height_high_L }}</td>
            </tr>
            <tr>
              <td>B</td>
              <td>{{ 'ebike.seat_tube_angle' | t }}</td>
              <td>{{ block.settings.seat_tube_angle_high }}</td>
              <td>{{ block.settings.seat_tube_angle_high_L }}</td>
            </tr>
            <tr>
              <td>C</td>
              <td>{{ 'ebike.fork_offset' | t }}</td>
              <td>{{ block.settings.fork_offset_high }}</td>
              <td>{{ block.settings.fork_offset_high_L }}</td>
            </tr>
            <tr>
              <td>D</td>
              <td>{{ 'ebike.seat_angle' | t }}</td>
              <td>{{ block.settings.seat_angle_high }}</td>
              <td>{{ block.settings.seat_angle_high_L }}</td>
            </tr>
            <tr>
              <td>E</td>
              <td>{{ 'ebike.head_tube_length' | t }}</td>
              <td>{{ block.settings.head_tube_length_high }}</td>
              <td>{{ block.settings.head_tube_length_high_L }}</td>
            </tr>
            <tr>
              <td>F</td>
              <td>{{ 'ebike.head_tube_angle' | t }}</td>
              <td>{{ block.settings.head_tube_angle_high }}</td>
              <td>{{ block.settings.head_tube_angle_high_L }}</td>
            </tr>
            <tr>
              <td>G</td>
              <td>{{ 'ebike.top_tube_horizontal' | t }}</td>
              <td>{{ block.settings.top_tube_horizontal_high }}</td>
              <td>{{ block.settings.top_tube_horizontal_high_L }}</td>
            </tr>
            <tr>
              <td>H</td>
              <td>{{ 'ebike.chain_stay_length' | t }}</td>
              <td>{{ block.settings.chain_stay_length_high }}</td>
              <td>{{ block.settings.chain_stay_length_high_L }}</td>
            </tr>
            <tr>
              <td>I</td>
              <td>{{ 'ebike.bottom_bracket_drop' | t }}</td>
              <td>{{ block.settings.bottom_bracket_drop_high }}</td>
              <td>{{ block.settings.bottom_bracket_drop_high_L }}</td>
            </tr>
            <tr>
              <td>J</td>
              <td>{{ 'ebike.wheelbase' | t }}</td>
              <td>{{ block.settings.wheelbase_high }}</td>
              <td>{{ block.settings.wheelbase_high_L }}</td>
            </tr>
            <tr>
              <td>K</td>
              <td>{{ 'ebike.stack' | t }}</td>
              <td>{{ block.settings.stack_high }}</td>
              <td>{{ block.settings.stack_high_L }}</td>
            </tr>
            <tr>
              <td>L</td>
              <td>{{ 'ebike.reach' | t }}</td>
              <td>{{ block.settings.reach_high }}</td>
              <td>{{ block.settings.reach_high_L }}</td>
            </tr>
            <tr>
              <td>M</td>
              <td>{{ 'ebike.standover_height' | t }}</td>
              <td>{{ block.settings.standover_height_high }}</td>
              <td>{{ block.settings.standover_height_high_L }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{ 'ebike.seat_height_min' | t }}</td>
              <td>{{ block.settings.seat_height_min_high }}</td>
              <td>{{ block.settings.seat_height_min_high_L }}</td>
            </tr>
            <tr>
             <td></td>
              <td>{{ 'ebike.seat_height_max' | t }}</td>
              <td>{{ block.settings.seat_height_max_high }}</td>
              <td>{{ block.settings.seat_height_max_high_L }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    {% endfor %}
    </div>
</div>


    {% if request.locale.iso_code == 'en' %}
    <p class="infotext"> The e-bikes illustrated may differ in individual details from the standard model and may show
      special equipment
      at an extra charge. All information on the scope of delivery, appearance, performance, dimensions and weights of
      the bikes is non-binding and subject to component availability, errors, printing, typesetting and typing errors;
      we reserve the right to make changes at any time. No rights can be derived from incorrect information. Please
      note that model specifications may vary from country to country; for more information, please contact your
      authorized dealer. *All prices are recommended retail prices including the applicable statutory VAT.
    </p>
{% elsif request.locale.iso_code == 'de' %}
    <p class="infotext"> Die abgebildeten E-Bikes können in einzelnen Details vom Serienmodell abweichen und teilweise
      Sonderausstattung gegen Mehrpreis zeigen. Alle Angaben über Lieferumfang, Aussehen, Leistungen, Maße und
      Gewichte der Fahrräder werden unverbindlich und unter dem Vorbehalt von Komponentenverfügbarkeit, Irrtümern,
      Druck-, Satz- und "Tippfehlern gemacht; diesbezügliche Änderungen bleiben jederzeit vorbehalten. Aus
      unzutreffenden Angaben können keine Rechte abgeleitet werden. Bitte beachten Sie, dass die Modellspezifikationen
      von Land zu Land variieren können; nähere Informationen hat Ihr autorisierter Vertragshändler. *Alle Preise sind
      unverbindliche Preisempfehlungen inklusive der gültigen gesetzlichen MWST.
    </p>
{% elsif request.locale.iso_code == 'fr' %}
    <p class="infotext"> Les vélos électriques illustrés peuvent différer du modèle standard dans certains détails et
      présenter des équipements spéciaux moyennant un supplément de prix. Toutes les informations relatives à
      l'étendue de la livraison, à l'aspect, aux performances, aux dimensions et au poids des vélos sont sans
      engagement et sous réserve de la disponibilité des composants, d'erreurs, de fautes d'impression, de composition
      et de frappe ; nous nous réservons le droit de procéder à des modifications à tout moment. Aucun droit ne peut
      être tiré d'informations incorrectes. Veuillez noter que les spécifications des modèles peuvent varier d'un pays
      à l'autre. Pour plus d'informations, veuillez contacter votre revendeur agréé. *Tous les prix sont des prix de
      vente recommandés incluant la TVA légale applicable.
    </p>
{% elsif request.locale.iso_code == 'fi' %}
    <p class="infotext"> Kuvatut sähköpyörät saattavat poiketa yksityiskohdissaan vakiomallista ja niissä voi olla
      erikoisvarusteita lisämaksusta. Kaikki tiedot toimitussisällöstä, ulkonäöstä, suorituskyvystä, mitoista ja
      pyörien painoista ovat sitoumuksettomia ja riippuvat komponenttien saatavuudesta, virheistä, paino-, asettelu- ja
      kirjoitusvirheistä; pidätämme oikeuden tehdä muutoksia milloin tahansa. Virheellisistä tiedoista ei voi
      johtaa oikeuksia. Huomioithan, että mallikohtaiset tiedot voivat vaihdella maittain; lisätietoja saat
      valtuutetulta jälleenmyyjältäsi. *Kaikki hinnat ovat suositushintoja, jotka sisältävät voimassa olevan
      lakisääteisen arvonlisäveron.
    </p>
{% else %}
    <p class="infotext"> Les vélos électriques illustrés peuvent différer du modèle standard dans certains détails et
      présenter des équipements spéciaux moyennant un supplément de prix. Toutes les informations relatives à
      l'étendue de la livraison, à l'aspect, aux performances, aux dimensions et au poids des vélos sont sans
      engagement et sous réserve de la disponibilité des composants, d'erreurs, de fautes d'impression, de composition
      et de frappe ; nous nous réservons le droit de procéder à des modifications à tout moment. Aucun droit ne peut
      être tiré d'informations incorrectes. Veuillez noter que les spécifications des modèles peuvent varier d'un pays
      à l'autre. Pour plus d'informations, veuillez contacter votre revendeur agréé. *Tous les prix sont des prix de
      vente recommandés incluant la TVA légale applicable.
    </p>
{% endif %}

  </div>

  <script>
    function updateTabDisplay(targetId) {
      document.querySelectorAll('.tab-item-size').forEach(tab => tab.classList.remove('active'));
      document.querySelectorAll('.sizetab-panel').forEach(panel => {
        panel.style.display = 'none'; // Hide all panels
      });

      const targetTab = document.querySelector(`.tab-item-size[data-target="${targetId}"]`);
      targetTab.classList.add('active');
      document.getElementById(targetId).style.display = 'block'; // Show the targeted panel
    }

    document.querySelector('.custom-size-tabs').addEventListener('click', (event) => {
      const targetTab = event.target.closest('.tab-item-size');
      if (targetTab) {
        const targetId = targetTab.getAttribute('data-target');
        updateTabDisplay(targetId);
      }
    });

    function updateBackground() {
    var framesize = document.getElementById('framesize');
    if (window.innerWidth <= 768) {
      framesize.style.height = '320px'; 
      framesize.style.backgroundImage = "url('{{ section.settings.mobile_background_image | img_url: '2048x2048' }}')"; 
    } else {
      framesize.style.height = '600px'; 
      framesize.style.backgroundImage = "url('{{ section.settings.background_image | img_url: '2048x2048' }}')"; 
    }
  }

  window.onload = updateBackground;
  window.onresize = updateBackground;
</script>

  </script>

</div>


<style>

.explore-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  .product-content-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

  .custom-size-tabs {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }


  .tab-item-size {
    padding: 10px 20px;
    background: #fff;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .tab-item-size.active {
    background: black;
    font-weight: bold;
    color: white;
  }

  .tab-item {
    padding: 10px 20px;
    background: #fff;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .sizetab-panel {
    display: none;
    background-color: #ECF0F1;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
  }

  .sizetab-panel.active {
    display: block;
  }

  .sizechart-two-column-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .sizechart-column {
    width: 50%;
    box-sizing: border-box; 
  }

  table.pf-inner-table {
    width: 100%;
    border-collapse: collapse;
  }

  table.pf-inner-table th,
  table.pf-inner-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .infotext {
    font-weight: 400;
    font-size: 12px;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  #framesize {
    background-size: contain;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 768px) {
    .custom-size-tabs {
      flex-direction: row;
      display: flex;
    }

    #framesize {
      height: 320px;
    }

    .sizechart-two-column-layout {
      flex-direction: column;
    }

    .sizechart-column {
      width: 100%;
    }
  }
</style>