{% schema %}
{
  "name": "Custom 4Product List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "radio",
      "id": "product_source",
      "label": "Select Product Source",
      "options": [
        {
          "value": "collection",
          "label": "Load from Collection"
        },
        {
          "value": "manual",
          "label": "Custom Product Selection"
        }
      ],
      "default": "manual"
    },
    {
      "type": "collection",
      "id": "product_collection",
      "label": "Select a Collection",
      "info": "Please select a collection to load products from."
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list",
      "info": "Please select multiple products."
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Product Description",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Custom 4Product List",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .explore-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  .benefits-container {
  display: flex;
  height: 80px;
    align-items: center;
}
  .product-content-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
  }

  .product-columns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 20px;
  }

  .product-column {
    width: 32%;
    text-align: left;
    margin-bottom: 30px;
    position: relative; 
  }

  .product-column-4 {
        width: 23%;
        text-align: left;
        margin-bottom: 30px;
        position: relative;
    }

  .producttitle {
    color: #000;
  }

  .product-column-4 img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 5px;
    background: #eeeeee;
    margin-bottom: 10px;
  }

  .product-column-4 h3 {
    font-size: 20px;
  }

  .current-price {
    font-size: 18px;
  }

  .orderbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 10px;
    border: 1px solid black;
  }

  .orderbutton:hover {
    background-color: black;
    color: white;
  }

  .customprice {
    margin: 20px 0;
  }

  .products-description {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding:0;
    height:200px;
  }
  
  .discount-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 120px;  
    max-height: 60px;
    height: 100%; 
    object-fit: contain; 
}

  .discount-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFD200;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
  }

  .current-price {
    font-size: 18px;
    margin: 0;
    text-align: left;
    font-weight: 700;
    line-height: 30px;
    color: #333 !important;
}

 .was-price {
    margin-left: 10px;
    text-decoration: line-through;
    color: #bf3737;
    font-size: 18px;
}

  @media (max-width: 768px) {
    .product-column-4 {
      width: 100%;
    }
  }
</style>


<div class="product-content-section">
  <h2 class="explore-title" data-localize="{{ section.settings.title }}">{{ section.settings.title }}</h2>
  <div class="product-columns">
    {% if section.settings.product_source == 'collection' %}
      {% assign collection = collections[section.settings.product_collection] %}
      {% if collection and collection.products.size > 0 %}
        {% for product in collection.products %}
          <div class="product-column">
            <a href="{{ product.url }}">
              {% if product.metafields.custom.featured_image %}
                <img src="{{ product.metafields.custom.featured_image | file_url }}" alt="{{ product.title }}">
              {% else %}
                <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
              {% endif %}
            </a>
            {% if product.metafields.custom.discount_image %}
              <div class="discount-image">  <img src="{{ product.metafields.custom.discount_image | file_url }}" alt="{{ product.title }}" style="aspect-ratio: auto; height: 60px;"></div>
                                {% endif %}
            {% if product.metafields.custom.discount %}
              <div class="discount-label">{{ product.metafields.custom.discount }}</div>
            {% endif %}
            <h3><a href="{{ product.url }}" class="producttitle">{{ product.title }}</a></h3>

            <div class="customprice">
              {% if product.compare_at_price > product.price %}
                <span class="current-price theme-money">{{ product.price | money }}</span>
                <span class="was-price theme-money">{{ product.compare_at_price | money }}</span>
              {% else %}
                <span class="current-price theme-money">{{ product.price | money }}</span>
              {% endif %}
            </div>

            {% if section.settings.show_description %}
            <div class="products-description">
              {%- if product.metafields.custom.benefits_of_promotion.value != blank -%}
              <span class="benefits-container">{{ product.metafields.custom.benefits_of_promotion.value | newline_to_br }}</span>
               {% endif %} 
              <b>{{ 'ebike.motor' | t}}:</b> {{ product.metafields.custom.motor_torque.value }}</br>
              <b>{{'ebike.frame' | t}}:</b> {{ product.metafields.custom.frame.value }}</br>
              <b>{{ 'ebike.battery' | t}}:</b> {{ product.metafields.custom.battery.value }}</br>
              <b>{{ 'ebike.display' | t}}:</b> {{ product.metafields.custom.display.value }}
          </div>
            {% endif %}

            {% assign product_available = false %}
            {% for variant in product.variants %}
            {% if variant.inventory_quantity > 0 %}
            {% assign product_available = true %}
            {% endif %}
            {% endfor %}
            {% if product_available %}
            <a href="{{ product.url }}" class="orderbutton">{{ 'ebike.order_now' | t }}</a>
            {% else %}
            <span class="orderbutton sold-out">{{ 'ebike.sold_out' | t }}</span>
            {% endif %}
            
          </div>
        {% endfor %}
      {% else %}
        <p>No products found in this collection.</p>
      {% endif %}
    {% else %}
      {% for product in section.settings.product_list %}
        <div class="product-column-4">
          <a href="{{ product.url }}">
            {% if product.metafields.custom.featured_image %}
              <img src="{{ product.metafields.custom.featured_image | file_url }}" alt="{{ product.title }}">
            {% else %}
              <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
            {% endif %}
          </a>
          {% if product.metafields.custom.discount_image %}
          <div class="discount-image">  <img src="{{ product.metafields.custom.discount_image | file_url }}" alt="{{ product.title }}" style="aspect-ratio: auto; height: 60px;"></div>
                            {% endif %}
          {% if product.metafields.custom.discount %}
            <div class="discount-label">{{ product.metafields.custom.discount }}</div>
          {% endif %}
          <h3><a href="{{ product.url }}" class="producttitle">{{ product.title }}</a></h3>

          <div class="customprice">
            {% if product.compare_at_price > product.price %}
              <span class="current-price theme-money">{{ product.price | money }}</span>
              <span class="was-price theme-money">{{ product.compare_at_price | money }}</span>
            {% else %}
              <span class="current-price theme-money">{{ product.price | money }}</span>
            {% endif %}
          </div>
          
          <div class="products-description">
             {%- if product.metafields.custom.benefits_of_promotion.value != blank -%}
              <span class="benefits-container">{{ product.metafields.custom.benefits_of_promotion.value | newline_to_br }}</span>
               {% endif %} 
            {% if section.settings.show_description %}
            <div class="products-description-content">
            <b>{{ 'ebike.motor' | t}}:</b> {{ product.metafields.custom.motor_torque.value }}</br>
            <b>{{'ebike.frame' | t}}:</b> {{ product.metafields.custom.frame.value }}</br>
            <b>{{ 'ebike.battery' | t}}:</b> {{ product.metafields.custom.battery.value }}</br>
            <b>{{ 'ebike.display' | t}}:</b> {{ product.metafields.custom.display.value }}
            </div>
            {% endif %}
        </div>
        {% assign product_available = false %}
        {% for variant in product.variants %}
        {% if variant.inventory_quantity > 0 %}
        {% assign product_available = true %}
        {% endif %}
        {% endfor %}
        {% if product_available %}
        <a href="{{ product.url }}" class="orderbutton">{{ 'ebike.order_now' | t }}</a>
        {% else %}
        <span class="orderbutton sold-out">{{ 'ebike.sold_out' | t }}</span>
        {% endif %}

          
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
