{% assign current_lang = request.locale.iso_code %}

{% if section.blocks != blank %}
  <div class="container container--no-max section-footer__row-container">
    <div class="section-footer__row section-footer__row--blocks" data-num-blocks="{{ section.blocks.size }}">
      {% for block in section.blocks %}
        {% assign block_title = block.settings.title %}
        {% assign block_text = block.settings.text %}

        {% case current_lang %}
          {% when 'de' %}
            {% if block.settings.title_de != blank %}{% assign block_title = block.settings.title_de %}{% endif %}
            {% if block.settings.text_de != blank %}{% assign block_text = block.settings.text_de %}{% endif %}
          {% when 'fr' %}
            {% if block.settings.title_fr != blank %}{% assign block_title = block.settings.title_fr %}{% endif %}
            {% if block.settings.text_fr != blank %}{% assign block_text = block.settings.text_fr %}{% endif %}
          {% when 'fi' %}
            {% if block.settings.title_fi != blank %}{% assign block_title = block.settings.title_fi %}{% endif %}
            {% if block.settings.text_fi != blank %}{% assign block_text = block.settings.text_fi %}{% endif %}
        {% endcase %}

        {% case block.type %}
          {% when '@app' %}
            <div class="section-footer__row__col">
              {% render block %}
            </div>

          {% when 'menu' %}
            <div
              class="section-footer__row__col section-footer__menu-block"
              role="navigation"
              aria-label="{{ 'accessibility.secondary_navigation' | t }}"
              {{ block.shopify_attributes }}
            >
              {% if block.settings.menu != blank %}
                <button
                  class="footer-menu-toggle"
                  aria-expanded="false"
                  aria-controls="menu-{{ block.id }}"
                >
                  {% if block_title != blank %}
                    {%- assign title_word_count = block_title | split: ' ' | size -%}
                    <div class="section-footer__title heading-font h6{% if title_word_count < 4 %} no-wrap{% endif %}">
                      {{ block_title | escape }}
                      <svg
                        class="custom-arrow"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/ssvg"
                        viewBox="0 0 330 330"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <path d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                        C255,161.018,253.42,157.202,250.606,154.389z"/>
                      </svg>
                    </div>
                  {% endif %}
                </button>
                <ul
                  id="menu-{{ block.id }}"
                  class="section-footer__menu-block__menu"
                  {{ block.shopify_attributes }}
                >
                  {% for link in linklists[block.settings.menu].links %}
                    <li>
                      <a
                        href="{{ link.url }}"
                        {% if link.title.size < 25 %}
                          class="no-wrap"
                        {% endif %}
                      >
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

          {% when 'text' %}
            <div
              class="section-footer__row__col section-footer__text-block {% if block.settings.text != blank %}section-footer__text-block--with-text{% endif %}"
              {{ block.shopify_attributes }}
            >
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <div class="section-footer__title heading-font h6{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{ block.settings.title | escape }}
                </div>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="section-footer__text rte">
                  {{ block.settings.text }}
                </div>
              {% endif %}

              {% if block.settings.image != blank %}
                <span class="section-footer__text-block__image" style="max-width: {{ block.settings.image_width }}px">
                  {%- liquid
                    assign image_sizes = block.settings.image_width | append: 'px'
                    assign image_widths = block.settings.image_width | times: 2 | prepend: ', ' | prepend: block.settings.image_width
                  -%}
                  {%- render 'image' with block.settings.image,
                    sizes: image_sizes,
                    widths: image_widths,
                    loading: 'lazy'
                  -%}
                </span>
              {% endif %}

              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__text-block__social">
                  {%- liquid
                    if block.settings.soc_icons_large
                      assign icon_height = 23
                    else
                      assign icon_height = 15
                    endif
                    if block.settings.soc_icons_large
                      assign container_class = 'social--large'
                    else
                      assign container_class = ''
                    endif

                    render 'social-media', icon: settings.social_custom_icon, icon_height: icon_height, class: container_class
                  -%}
                </div>
              {% endif %}

              {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                <div class="section-footer__follow-on-shop">
                  {{- shop | login_button: action: 'follow' -}}
                </div>
              {%- endif -%}
            </div>

          {% when 'newsletter' %}
            <div class="section-footer__row__col section-footer__newsletter-block" {{ block.shopify_attributes }}>
              {% if block_title != blank %}
                {%- assign title_word_count = block_title | split: ' ' | size -%}
                <div class="section-footer__title heading-font h6{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{ block_title | escape }}
                </div>
              {% endif %}

              {% if block_text != blank %}
                <div class="section-footer__text rte">
                  {{ block_text }}
                </div>
              {% endif %}

              {% render 'newsletter-signup', id: 'footer_newsletter_signup', tags: 'newsletter, footer', block: block %}

              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__newsletter-block__social">
                  <span class="follow-us">{{ 'ebike.follow_us' | t }}:</span>
                  {%- liquid
                    if block.settings.soc_icons_large
                      assign icon_height = 23
                    else
                      assign icon_height = 15
                    endif
                    if block.settings.soc_icons_large
                      assign container_class = 'social--large'
                    else
                      assign container_class = ''
                    endif

                    render 'social-media', icon: settings.social_custom_icon, icon_height: icon_height, class: container_class
                  -%}
                </div>
              {% endif %}

              {% if block.settings.show_app_icons != blank %}
                <div class="app-block">
                  <a href="https://play.google.com/store/apps/details?id=com.hepha" target="_blank" rel="noopener">
                    <img src="//hepha.com/cdn/shop/files/Google_1024x1024.png?v=1715669488" width="180px" height="auto">
                  </a>
                  <a href="https://apps.apple.com/app/hepha/id1622732474" target="_blank" rel="noopener">
                    <img src="//hepha.com/cdn/shop/files/apple_1024x1024.png?v=1733222588" width="180px" height="auto">
                  </a>
                </div>
              {% endif %}
            </div>

          {% when 'custom-liquid' %}
            <div class="section-footer__row__col section-footer__custom-liquid-block" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <div class="section-footer__title heading-font h6{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{ block.settings.title | escape }}
                </div>
              {% endif %}

              <div class="section-footer__custom-liquid">
                {{ block.settings.code }}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{%- liquid
  assign showing_localization = false
  if section.settings.enable_language_selector and localization.available_languages.size > 1
    assign showing_localization = true
  endif
  if section.settings.enable_country_selector and localization.available_countries.size > 1
    assign showing_localization = true
  endif
-%}
<div class="container container--no-max section-footer__row-container {% if showing_localization %}section-footer__row-container--with-localization{% endif %}">
  <div class="section-footer__row section-footer__row-lower">
    <div class="section-footer__row__col">
      {% if section.settings.show_payment_icons %}
        <div class="section-footer__payment-icons">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon', loading: 'lazy' }}
          {% endfor %}
        </div>
      {% endif %}
      {% if section.settings.lower_menu != blank %}
        <div class="section-footer__lower-menu" role="navigation">
          <ul class="section-footer__lower-menu__list" aria-label="{{ 'accessibility.secondary_navigation' | t }}">
            {% for link in linklists[section.settings.lower_menu].links %}
              <li>
                <a href="{{ link.url }}">
                  {{- link.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="section-footer__row__col">
      {% if section.settings.enable_language_selector or section.settings.enable_country_selector %}
        <div class="section-footer__localization">
          {% render 'localization-form', id: 'footer-localization', hide_labels: true, promote_popular: true %}
        </div>
      {% endif %}

      <div class="copyright">
        {%- assign copyright_year = 'now' | date: '%Y' -%}
        <span class="copy">
          {{-
            'sections.footer.copyright_html'
            | t: year: copyright_year, shop_url: routes.root_url, shop_name: shop.name
          -}}
        </span>

        {% if section.settings.show_powered_by %}
          {{ powered_by_link }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .section-footer__row__col {
    flex: 0 1 50%;
  }
  .section-footer__newsletter-block__social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .app-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  .app-block a {
    display: block;
    line-height: 0;
  }
  .section-footer__menu-block__menu {
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease, opacity 0.2s ease;
  }
  .follow-us {
    color: #eeeeee;
  }
  .custom-arrow {
    transition: transform 0.3s ease;
  }
  .footer-menu-toggle[aria-expanded='true'] .custom-arrow {
    transform: rotate(90deg);
  }

  @media (max-width: 768px) {
    .section-footer__menu-block__menu {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }
    .footer-menu-toggle {
      cursor: pointer;
      padding: 10px 0;
      width: 100%;
      text-align: left;
      background: none;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .section-footer__title {
      margin-bottom: 0;
      justify-content: space-between;
      display: flex;
      width: 100%;
    }
    .section-footer__newsletter-block {
      padding: 10px 0;
    }
    .h6 {
      padding: 0;
    }
    .app-block {
      flex-direction: column;
    }
    .footer-menu-toggle[aria-expanded='true'] + .section-footer__menu-block__menu {
      max-height: 1000px;
      opacity: 1;
      padding: 10px 0;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.body.addEventListener('click', function (e) {
      if (e.target.closest('.footer-menu-toggle')) {
        const toggle = e.target.closest('.footer-menu-toggle');
        const expanded = toggle.getAttribute('aria-expanded') === 'true';
        toggle.setAttribute('aria-expanded', String(!expanded));
      }
    });
  });
</script>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "link_list",
      "id": "lower_menu",
      "label": "Lower footer menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show 'Powered by Shopify'",
      "default": false
    },
    {
      "type": "header",
      "content": "Social media links",
      "info": "These are shown inside text and newsletter blocks. Add to the footer and enable inside."
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/Region Selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "Enable country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "menu",
      "name": "Links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "title_de",
          "label": "Heading DE"
        },
        {
          "type": "text",
          "id": "title_fr",
          "label": "Heading FR"
        },
        {
          "type": "text",
          "id": "title_fi",
          "label": "Heading FI"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text and social media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 30,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Footer image width",
          "default": 100
        },
        {
          "type": "header",
          "content": "Social media"
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social media links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "soc_icons_large",
          "label": "Use large social media icons",
          "default": false
        },
        {
          "type": "header",
          "content": "Follow on Shop",
          "info": "Display follow button for your storefront on the Shop app. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "default": false,
          "label": "Enable Follow on Shop"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "title_de",
          "label": "Heading DE"
        },
        {
          "type": "text",
          "id": "title_fr",
          "label": "Heading FR"
        },
        {
          "type": "text",
          "id": "title_fi",
          "label": "Heading FI"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "text_de",
          "label": "Text DE"
        },
        {
          "type": "richtext",
          "id": "text_fr",
          "label": "Text FR"
        },
        {
          "type": "richtext",
          "id": "text_fi",
          "label": "Text FI"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Secondary", "value": "secondary" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social media links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "soc_icons_large",
          "label": "Use large social media icons",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_app_icons",
          "label": "Show APP links",
          "default": false
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Liquid code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default footer",
      "category": "Footer",
      "settings": {
        "lower_menu": "footer-menu",
        "show_powered_by": false,
        "show_payment_icons": true,
        "enable_country_selector": true,
        "enable_language_selector": true
      },
      "blocks": [
        {
          "type": "menu",
          "settings": {
            "title": "About us",
            "title_de": "Über uns",
            "title_fr": "À propos de nous",
            "title_fi": "Tietoa meistä",
            "menu": "main-menu"
          }
        },
        {
          "type": "menu",
          "settings": {
            "title": "Explore",
            "title_de": "Entdecke",
            "title_fr": "Découvrir",
            "title_fi": "Tutustu",
            "menu": "footer-products"
          }
        },
        {
          "type": "menu",
          "settings": {
            "title": "Support",
            "title_de": "Support",
            "title_fr": "Soutien",
            "title_fi": "Tuki",
            "menu": "footer-2"
          }
        },
        {
          "type": "newsletter",
          "settings": {
            "title": "Newsletter",
            "title_de": "Abonnieren",
            "title_fr": "Abonnez-vous",
            "title_fi": "Uutiskirje",
            "text": "<p>Sign up for exclusive offers, original stories, events and more.</p>",
            "text_de": "<p>Melden Sie sich für exklusive Angebote, originelle Geschichten, Veranstaltungen und mehr an.</p>",
            "text_fr": "<p>Enregistrez-vous pour recevoir des offres exclusives, des histoires originales, des événements et bien plus encore.</p>",
            "text_fi": "<p>Tilaa sähköpostiisi eksklusiivisia tarjouksia, uutisia ja tarinoita, tietoa tapahtumista lähelläsi, ynnä muuta.</p>",
            "button_style": "primary",
            "show_social_icons": true,
            "soc_icons_large": true,
            "show_app_icons": true
          }
        }
      ]
    }
  ]
}
{% endschema %}
