{% if block.settings.image != blank %}
  <div
    class="custom-image-block"
    style="
      width: {{ block.settings.image_width }}px;
      margin-top: {{ block.settings.margin_top }}px;
      margin-right: {{ block.settings.margin_right }}px;
      margin-bottom: {{ block.settings.margin_bottom }}px;
      margin-left: {{ block.settings.margin_left }}px;
    "
    {{ block.shopify_attributes }}
  >
    <div class="image-container" style="max-width: 100%;">
      {% if block.settings.url != blank %}
        <a href="{{ block.settings.url }}" {% if block.settings.open_in_new_tab %}target="_blank"{% endif %}>
      {% endif %}
      
      <img 
        src="{{ block.settings.image | img_url: 'master' }}"
        alt="{{ block.settings.image.alt | escape }}"
        loading="lazy"
        style="
          max-width: 100%;
          height: auto;
          border-radius: {{ block.settings.border_radius }}px;
          display: block;
        "
      >
      
      {% if block.settings.url != blank %}</a>{% endif %}
    </div>
  </div>
{% endif %}