<!-- snippets/product-card.liquid -->
<div class="product-column">
    <a href="{{ product.url }}">
        {% if product.metafields.custom.featured_image %}
            <img src="{{ product.metafields.custom.featured_image | file_url }}" alt="{{ product.title }}">
        {% else %}
            <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
        {% endif %}
    </a>
    
    {% if product.metafields.custom.discount_image %}
        <div class="discount-image">
            <img src="{{ product.metafields.custom.discount_image | file_url }}" alt="{{ product.title }}" style="aspect-ratio: auto; height: 60px; padding: 0; aspect-ratio: auto !important; border-radius: 10px !important;">
        </div>
    {% endif %}
    
    {% if product.metafields.custom.discount_image3 %}
        <div class="discount-image3" style="margin-left: 0;">
            <img src="{{ product.metafields.custom.discount_image3 | file_url }}" alt="{{ product.title }}" style="aspect-ratio: auto; height: 60px; bottom: 10px; position: absolute; padding: 0; background: transparent;">
        </div>
    {% endif %}
    
    {% if product.metafields.custom.benefits_of_promotion.value %}
        <div class="benefits-container" style="margin-left: 0; display: flex; justify-content: center;">
            {% if localization.country.iso_code == 'DE' %}
                <span style="bottom: 40px; position: absolute; font-size: 16px; text-align: center; color: #9E1313;">{{ product.metafields.custom.benefits_of_promotion.value | newline_to_br }}</span>
            {% endif %}
        </div>
    {% endif %}
    
    {% if product.metafields.custom.discount_image2 %}
        <div class="discount-image2">
            <img src="{{ product.metafields.custom.discount_image2 | file_url }}" alt="{{ product.title }}" style="aspect-ratio: auto; height: 120px;">
        </div>
    {% endif %}
    
    {% if product.metafields.custom.discount %}
        <div class="discount-label">{{ product.metafields.custom.discount }}</div>
    {% endif %}
    
    <div class="description-box">
        <h3><a href="{{ product.url }}" class="producttitle">{{ product.title }}</a></h3>
        <div class="customprice">
            {% if product.compare_at_price > product.price %}
                <span class="current-price theme-money">{{ product.price | money }}</span>
                <span class="was-price theme-money">{{ product.compare_at_price | money }}</span>
            {% else %}
                <span class="current-price theme-money">{{ product.price | money }}</span>
            {% endif %}
        </div>
        
        {% if section.settings.show_description %}
            <div class="products-description">                                     
                <b>{{ 'ebike.motor' | t }}:</b> {{ product.metafields.custom.motor_torque.value }}</br>
                <b>{{ 'ebike.frame' | t }}:</b> {{ product.metafields.custom.frame.value }}</br>
                <b>{{ 'ebike.battery' | t }}:</b> {{ product.metafields.custom.battery.value }}</br>
                <b>{{ 'ebike.display' | t }}:</b> {{ product.metafields.custom.display.value }}
            </div>
        {% endif %}
        
        {% assign product_available = false %}
        {% for variant in product.variants %}
            {% if variant.inventory_quantity > 0 %}
                {% assign product_available = true %}
            {% endif %}
        {% endfor %}
    </div>
</div>
