{%- if product.description != blank -%}
  <div
    class="{% unless block.settings.show_in_quickbuy %}not-in-quickbuy{% endunless %}{% if block.settings.show_in_tab %} product-info-accordion{% endif %}"
    {{ block.shopify_attributes }}
  >
    {% if block.settings.show_in_tab %}
      <details-disclosure>
        <details
          class="disclosure"
          {% if block.settings.open_tab %}
            open
          {% endif %}
        >
          <summary class="disclosure__title">
            {%- if block.settings.icon == blank -%}
              {{- 'products.product.description' | t -}}
            {%- else -%}
              <div class="with-icon">
                {% render 'icon', icon: block.settings.icon, size: 'small' %}
                <span class="with-icon__beside">{{ 'products.product.description' | t }}</span>
              </div>
            {%- endif -%}
          </summary>
          <div class="disclosure__panel has-motion">
            <div class="disclosure__content rte cf">
              {{- product.description -}}
            </div>
          </div>
        </details>
      </details-disclosure>
    {% else %}
      <div class="product-description rte cf">
        {%- if block.settings.icon == blank -%}
          {{- product.description -}}
        {%- else -%}
          <div class="with-icon">
            {% render 'icon', icon: block.settings.icon, size: 'small' %}
            <span class="with-icon__beside">{{ product.description }}</span>
          </div>
        {%- endif -%}
      </div>
    {% endif %}
  </div>
{%- endif -%}
