{%- comment -%}
  Parameters:
  - share_title {String} - Title of the shared page.
  - share_url {String} - Permalink of the shared page.
  - share_image {Object} - Image for the shared page (optional).
  - share_twitter {Boolean} - Show Twitter icon/link (optional, default is true).
  - share_facebook {Boolean} - Show Facebook icon/link (optional, default is true).
  - share_pinterest {Boolean} - Show Pinterest icon/link (optional, default is true).
  - share_linkedin {Boolean} - Show LinkedIn icon/link (optional, default is true).
  - share_whatsapp {Boolean} - Show WhatsApp icon/link (optional, default is true).
  - share_snapchat {Boolean} - Show Snapchat icon/link (optional, default is true).
  - share_threads {Boolean} - Show Threads icon/link (optional, default is true).
  - share_tumblr {Boolean} - Show Tumblr icon/link (optional, default is true).
  - share_twitch {Boolean} - Show Twitch icon/link (optional, default is true).

  Usage:
  {% render 'social-share',
    share_title: article.title,
    share_url: article.url,
    share_image: article.image,
    share_facebook: false
  %}
{%- endcomment -%}

<ul class="social inline-flex flex-wrap">
  {% comment %} {%- unless share_twitter == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//twitter.com/intent/tweet?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_url }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_twitter' | t }}">
        {% render 'icon-twitter' %}
      </a>
    </li>
  {%- endunless -%} {% endcomment %}

  {%- unless share_facebook == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_url }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_facebook' | t }}">
        {% render 'icon-facebook' %}
      </a>
    </li>
  {%- endunless -%}

  {% unless share_pinterest == false or share_image == blank -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_url }}&amp;media={{ share_image | image_url: width: 1000 }}&amp;description={{ share_title | url_param_escape }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_pinterest' | t }}">
        {% render 'icon-pinterest' %}
      </a>
    </li>
  {%- endunless %}

  {%- unless share_linkedin == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.linkedin.com/shareArticle?mini=true&url={{ shop.url | append: share_url }}&title={{ share_title | url_param_escape }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_linkedin' | t }}">
        {% render 'icon-linkedin' %}
      </a>
    </li>
  {%- endunless -%}

  {%- unless share_whatsapp == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//api.whatsapp.com/send?text={{ share_title | url_param_escape }}%20{{ shop.url | append: share_url }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_whatsapp' | t }}">
        {% render 'icon-whatsapp' %}
      </a>
    </li>
  {%- endunless -%}

  {% comment %} {%- unless share_snapchat == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.snapchat.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_url }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_snapchat' | t }}">
        {% render 'icon-snapchat' %}
      </a>
    </li>
  {%- endunless -%}

  {%- unless share_threads == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.threads.net/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_url }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_threads' | t }}">
        {% render 'icon-threads' %}
      </a>
    </li>
  {%- endunless -%}

  {%- unless share_tumblr == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.tumblr.com/share/link?url={{ shop.url | append: share_url }}&name={{ share_title | url_param_escape }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_tumblr' | t }}">
        {% render 'icon-tumblr' %}
      </a>
    </li>
  {%- endunless -%}

  {%- unless share_twitch == false -%}
    <li>
      <a class="social__link flex items-center justify-center" href="//www.twitch.tv/share?url={{ shop.url | append: share_url }}&title={{ share_title | url_param_escape }}" target="_blank" rel="noopener" title="{{ 'general.social.share_on_twitch' | t }}">
        {% render 'icon-twitch' %}
      </a>
    </li>
  {%- endunless -%} {% endcomment %}
</ul>